{% extends "home/base.html" %}

{% load listutil %}

{% load crispy_forms_tags %}

{% block consulta_master %}active{% endblock %}




 {% block style %}
 
     <style type="text/css" title="currentStyle">
    </style>

    <style>
      div.ui-datepicker{
    font-size:10px;
      }
    </style>
 
 {% endblock %}
 
 {% block script %}
    
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/jquery-datepicker-es.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/ajax_estados_municipios.js"></script> <!-- Incluye  sugerencia de colonias.-->

    
    <script type="text/javascript"> 
    
    $(document).ready( function() {
    var now = new Date();
    var month = (now.getMonth())+01;               
    var day = now.getDate();
    var year = now.getFullYear()
    if(month < 10) 
        month = "0" + month;
    if(day < 10) 
        day = "0" + day;
    var today = day + '/' + month + '/' + now.getFullYear() ;

    //$('#id_Mes>option:eq(' + month + ')').prop('selected', true);
    $("#id_Anio").val(year);
    });

    $(function() {

      $('#id_Solicitud').datepicker({ autoSize: true });
      $('#id_Inicial').datepicker({ autoSize: true });
      $('#id_Visita').datepicker({ autoSize: true });
      $('#id_Salida').datepicker({ autoSize: true });
      $('#id_Final').datepicker({ autoSize: true });

    $(":input").blur(function() {
    if(this.id != 'id_Observaciones') {
      this.value = this.value.toUpperCase();
      }
    });
      
    });
    
    </script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#spinner').hide();
        $('#submit-id-submit').click(function () {
            foliok = $('#id_FolioK').val();
            ref = $('#id_Referencia').val();
            calle = encodeURIComponent($('#id_Calle').val());
            col = encodeURIComponent($('#id_Colonia').val());
            factura = encodeURIComponent($('#id_Factura').val());
            edo = $('#id_Estado').val();
            mun = $('#id_Municipio').val();
            cli = $('#id_Cliente').val();
            dep = $('#id_Depto').val();
            imp = $('#id_Importe').val();
            tipo = $('#id_Tipo').val();
            mes = $('#id_Mes').val();
            anio = $('#id_Anio').val();
            //$('#results').html('&nbsp;').load('/SIAV/consulta_master/?q1=' + q1);
            $('#results').html('&nbsp;').load('/SIAV/consulta_master/?foliok='+foliok+"&ref="+ref+"&calle="+calle+"&col="+col+"&edo="+edo+"&mun="+mun+"&factura="+factura+"&cli="+cli+"&dep="+dep+"&imp="+imp+"&tipo="+tipo+"&mes="+mes+"&anio="+anio);
        });
    });
        
    $(document).ajaxStart(function () {
        $('#spinner').show();
    }).ajaxStop(function () {
        $('#spinner').hide();
    });
</script>
    
 <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/mapas.js"></script>
    
 {% endblock %}      

{% block content %}


  <h1>Consulta de Administrador</h1>
    <br>
      {% if forma.errors %}
        <p style="color: red;">
            Porfavor completa los campos faltantes.
        </p>
    {% endif %}

    {% crispy forma %}  
   <br>

  <div>
    <input id="submit-id-submit" type="submit" value="Buscar" class="btn btn-primary"/>
    <br/>
    <div class="margin" align="center">
        <span id="spinner"><img src="{{ STATIC_URL }}spinner_large.gif"/ width="50px"></span>
        <div id='printableArea'><div id="results"></div></div>
    </div>
</div>
    
{% endblock %}