{% extends "home/base.html" %}

{% load dayssince %}

{% block alta %}active{% endblock %}

{% block consulta_sencilla %}active{% endblock %}


 
 {% block script %}
 
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/picnet.table.filter.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
	    $('#avaluos_table').tableFilter();
    });  
    </script>

 {% endblock %}      

{% block content %}
  <h1 style="text-align:center">Consulta Sencilla</h1>
  <h2>{{cantidad}} Servicios </h2> 
<table id='avaluos_table' class="table table-striped">
	  <thead>
      <tr class='even'><th style="width:40px">Folio K</th><th style="width:40px" filter='false' >Ref.</th><th filter-type='ddl'>Cliente</th><th>Calle</th><th filter='false'>Ext.</th><th filter='false'>Int.</th><th style="width:100px" filter-type='ddl'>Colonia</th><th filter-type='ddl'>Municipio</th><th filter-type='ddl'>Prioridad</th><th style="width:10px" filter-type='ddl'>Status</th><th filter='false'>Dias</th><th filter='false' class="tabla_opciones">Opciones</th></tr>
      </thead>
	  <tbody>
		  {% for a in avaluos %}
		  <tr class="{% cycle 'odd' 'even' %}">
		  <td> {{a.FolioK}} </td>
	          <td style="width:100px;"> {{a.Referencia}} </td>
	          <td style="width:10px;"> {{a.Cliente}} </td>
	          <td style="width:200px"> {{a.Calle}} </td>
	          <td style="width:3px;"> {{a.NumExt}} </td>
	          <td style="width:10px;"> {{a.NumInt}} </td>
	          <td style="width:200px;"> {{a.Colonia}} </td>
	          <td style="width:200px;"> {{a.Municipio}} </td>
	          <td style="width:3px;"> {{a.Prioridad}} </td>
	          <td style="width:60px;"> {{a.Estatus}} </td>
	          <td style="width:35px;"> {{ a.Solicitud|dayssince }}</td> 
		      <td style="width:60px;" class="tabla_opciones"> <a href="/SIAV/respuesta_consulta_sencilla/{{a.avaluo_id}}">Editar</a></td>
		  </tr>
		  {% endfor %}
	  </tbody>
  </table>

  
{% endblock %}
