{% load endless %}
    <!-- <script src="{{ STATIC_URL }}endless_pagination/static/js/endless-pagination.js"></script>  -->
    <script src="{{ STATIC_URL }}js/endless-pagination.js"></script>
    <script>
        jQuery.endlessPaginate({
            paginateOnScroll: true
        });
    </script>
<!--    <li class="top">
        <p class="small">
             <a href="#" class="pull-right">Mark all Read</a>
             Tienes <strong>{{conteo_eventos_usuario}}</strong>
            nuevas notificaciones.
        </p>
    </li>-->
{% paginate comments_enviar %}
{% for c in comments_enviar %}
<li>

<ul class="dropdown-menu-list scroller">
         <li class="{% if c.leido == 0 %}unread{% elif c.leido == 1 %}read{% endif %}">
                                        <a href="/SIAV/respuesta_consulta_sencilla/{{c.evento.avaluo.avaluo_id}}">
                                            <i class="entypo-user-add pull-right"></i>

                                            <span class="line"><strong>{{c.envia}} dió
                                                    {{c.evento.evento|lower}}</strong> 
                                            </span>
                                            <span class="line small">
                                               {{c.date}}
                                            </span>
                                        </a>
                                    </li>
                                    
</ul>
</li>
{%  endfor %}

{%  show_more %}
