{% extends "home/base.html" %}

{% load listutil %}

{% load crispy_forms_tags %}

{% block alta %}active{% endblock %}
{% block inicio %}active{% endblock %}

{% block style %}
<style type="text/css" title="currentStyle">
@import "{{ STATIC_URL }}CSS/smoothness/jquery-ui-1.8.24.custom.css";
</style>

<style>
div.ui-datepicker{
  font-size:10px;
}

table#id_contact_info_table tbody tr td{

  padding-right:60px;
  padding-bottom:10px;
  width:200px;
}

table#table_single_formset tbody tr td{
  padding-right:60px;
  padding-bottom:10px;
  width:200px;
}

</style>
{% endblock %}

{% block script %}
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/jquery-ui-1.8.24.custom.min.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/jquery-datepicker-es.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/ajax_estados_municipios.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}JS/jquery.formset.js"></script>
<!-- Incluye  sugerencia de colonias.-->

<script type="text/javascript">
    $(function() {
        $('.formset-div-child').formset({
            formCssClass: 'dynamic-contact-form',
            prefix: "{{ formset.prefix }}"
        });
    });

</script>

<script type="text/javascript"> 

$(document).ready( function() {
  var now = new Date();
  var month = (now.getMonth() + 1);               
  var day = now.getDate();
  if(month < 10) 
    month = "0" + month;
  if(day < 10) 
    day = "0" + day;
  var today = day + '/' + month + '/' + now.getFullYear() ;
  $('#id_Solicitud').val(today);


 {% if formset.errors or formset_sencilla.errors  %}
    $('a[href="#paquete"]').tab('show');
  {% endif %}
  
});

$(function() {

 $('#id_Solicitud').datepicker({ autoSize: true });
 $('#id_formset_sencilla-Solicitud').datepicker({ autoSize: true });

 $(":input").blur(function() {
   if(this.id != 'id_Observaciones') {
     this.value = this.value.toUpperCase();
   }
 });

 $('#id_NumInt').attr('disabled', 'disabled');
 $('input').blur(function () {
   if ($('#id_NumExt').val()) {
     $('#id_NumInt').removeAttr('disabled');
   } else {
     $('#id_NumInt').attr('disabled', 'disabled');
   }
 });
 

   $('input[type=text]').addClass('form-control');
   $('select').addClass('form-control');
   $('select').width('174px');
   

});
</script>
<!-- Here's an example of how you can style add/delete buttons with CSS -->
<style type="text/css">
    .help-block{
      color: #a94442;  
    }
    .add-row {
        padding-left:18px;
        background:url({{ STATIC_URL }}images/add.png) no-repeat left center;
    }
    .delete-row {
        float:right;
        display:block;
        margin:5px 0 0 5px;
        text-indent:-6000px;
        background:url({{ STATIC_URL }}images/delete.png) no-repeat left center;
        width:16px;
        height:16px;
    }
    tr.row1 td { background-color: #eee; }
    tr.row2 td { background-color: #eee; }
    tr.row3 td { background-color: #eee; }
    tr.row4 td { background-color: #eee; }
</style>
{% endblock %}      

{% block content %}
 {% if formset.errors or formset_sencilla.errors  or forma.errors %}
<p style="color: red;">Porfavor completa los campos faltantes.</p>
{% endif %}
<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
  <li class="active">
    <a href="#individual" data-toggle="tab">Individual</a>
  </li>
  <li>
    <a href="#paquete" data-toggle="tab">Paquete</a>
  </li>
</ul>
<br>
<div id="my-tab-content" class="tab-content">
  <div class="tab-pane active" id="individual">
    <h1>Alta Avalúo</h1>
    <br />
    {% crispy forma %}
    <br>
  </div>
  <div class="tab-pane" id="paquete">
    <h1>Paquete</h1>
    <br>
      <form method="post" action="/SIAV/alta_avaluo_paquete/">
        {% csrf_token %}
        <table id='table_single_formset'>
          <tr>
            <td>
              {{formset_sencilla.Tipo.label_tag}} {{formset_sencilla.Tipo}}
              <span class="help-block"> <strong>{{formset_sencilla.Tipo.errors}}</strong>
              </span>
            </td>
            <td>
              {{formset_sencilla.Colonia.label_tag}} {{formset_sencilla.Colonia}}
              <span class="help-block"> <strong>{{formset_sencilla.Colonia.errors}}</strong>
              </span>
            </td>
            <td>
              {{formset_sencilla.Estado.label_tag}} {{formset_sencilla.Estado}}
              <span class="help-block">
                <strong>{{formset_sencilla.Estado.errors}}</strong>
              </span>
            </td>
            <td>
              {{formset_sencilla.Prioridad.label_tag}} {{formset_sencilla.Prioridad}}
              <span class="help-block">
                <strong>{{formset_sencilla.Prioridad.errors}}</strong>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              {{formset_sencilla.Servicio.label_tag}} {{formset_sencilla.Servicio}}
              <span class="help-block">
                <strong>{{formset_sencilla.Servicio.errors}}</strong>
              </span>
            </td>
            <td>
              {{formset_sencilla.Estatus.label_tag}} {{formset_sencilla.Estatus}}
              <span class="help-block">
                <strong>{{formset_sencilla.Estatus.errors}}</strong>
              </span>
            </td>
            <td>
              {{formset_sencilla.Municipio.label_tag}} {{formset_sencilla.Municipio}}
              <span class="help-block">
                <strong>{{formset_sencilla.Municipio.errors}}</strong>
              </span>
            </td>

            <td>
              {{formset_sencilla.Valor.label_tag}} {{formset_sencilla.Valor}}
              <span class="help-block">
                <strong>{{formset_sencilla.Valor.errors}}</strong>
              </span>
            </td>
        </tr>
        <tr>
          <td>
            {{formset_sencilla.Cliente.label_tag}} {{formset_sencilla.Cliente}}
            <span class="help-block">
              <strong>{{formset_sencilla.Cliente.errors}}</strong>
            </span>
          </td>
          <td>
            {{formset_sencilla.Depto.label_tag}} {{formset_sencilla.Depto}}
            <span class="help-block">
              <strong>{{formset_sencilla.Depto.errors}}</strong>
            </span>
          </td>
          <td>
            {{formset_sencilla.Valuador.label_tag}} {{formset_sencilla.Valuador}}
            <span class="help-block">
              <strong>{{formset_sencilla.Valuador.errors}}</strong>
            </span>
          </td>
          <td>
            {{formset_sencilla.Solicitud.label_tag}} {{formset_sencilla.Solicitud}}
            <span class="help-block">
              <strong>{{formset_sencilla.Solicitud.errors}}</strong>
            </span>
          </td>
        </tr>
      </table>
      <br>
      <h2 id="cant_servicios">1 Servicio</h2>
      <br>
      <input class="btn btn-success" type="submit" value="Enviar" />
      <div id="printableArea">
        {% for form in formset %}
        <div id="{{ form.prefix }}-row"  class="formset-div-child container" style="padding-bottom:6px; border-bottom:1px dotted #ccc; margin-bottom:6px;" id="form-0-row">{% crispy form %}</div>   
      {% endfor %}
      </div>
        {{ formset.management_form}}
      <br></p>
      </form>

  </div>
</div>
{% endblock %}