{% extends "home/base.html" %}

{% load dayssince %}

{% block captura %}active{% endblock %}
{% load bootstrap3 %}

{% bootstrap_css %}

{% block script %}

<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/picnet.table.filter.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
  $('#avaluos_table').tableFilter();
  valor = 0;

  var rowCount = { p: $('#avaluos_table tbody tr:visible').length };
  valor = ($('#avaluos_table tbody tr:visible').length);

  $('#cantidad_tabla').html(valor);

  $('#avaluos_table thead').on("change", function () {
    setTimeout(function () {
      window.location = '/SIAV/captura/';
    }, 1000);
  });

$('#captura_masiva_button').click(function () {

    // Some code

    if($(".form-checkbox").is(':checked')) {

      var selected = [];
      $('input:checked').each(function() {
          selected.push($(this).parent().next().next().next().next().next().next().next().html());
      });
      var bandera = true;
      for ( var i = 0; i < selected.length; i++ ) {
          // Logs "try 0", "try 1", ..., "try 4".
          if(selected[0] != selected[i]){
              bandera = false;
              console.log( selected[i] );
              //console.log( bandera );
          }
      }

      if(bandera == false){
        alert("Todos los servicios deben pertenecer a la misma colonia.");
      }else{
        $('#captura_masiva').modal('show');
        console.log( selected.toString());
      }
      
      var selected = [];

       // $('#visita_masiva').modal('show');
    }else{
        alert("Selecciona al menos una casilla.");
    }

});



});


</script>

{% endblock %}      
{% block content %}
  <a id="captura_masiva_button"  title="captura" style="float:right" class="btn btn-success" role="button">
    <span class="glyphicon glyphicon-ok"></span>
    CAPTURAR
  </a>
<h1>Captura</h1>
<h2 style="text-align:left"><span id="cantidad_tabla"></span>  Servicios</h2>
<div id='printableArea' class="table-responsive">
<form id="modal-form" class="" method="post" action="/SIAV/captura_masiva/">
<table id='avaluos_table' class="table table-striped table-hover">
  <thead>
    <tr class='even'>
      <th style="width:40px" filter='false'></th>
      <th style="width:40px">Folio K</th>
      <th style="width:40px" filter='true' >Referencia</th>
      <th filter-type='ddl'>Cliente</th>
      <th>Calle</th>
      <th filter='false'>Ext.</th>
      <th filter='false'>Int.</th>
      <th style="width:100px" filter-type='ddl'>Colonia</th>
      <th filter-type='ddl'>Municipio</th>
      <th filter-type='ddl'>Prioridad</th>
      <th style="width:10px" filter-type='ddl'>Status</th>
      <th filter='false'>Dias</th>
      <th filter='false' class="tabla_opciones">Opciones</th>
    </tr>
  </thead>
<body>
  {% for a in avaluos %}
  <tr class="{% if a.Solicitud|dayssince|add:"0" > a.Depto.Tolerancia|add:"0" and a.Estatus != 'DETENIDO' %}danger{% endif%}">
  <td><input class="form-checkbox" type="checkbox" value="{{ a.avaluo_id }}" name="avaluo_capturado"></td>
  <td > {{a.FolioK}} </td>
  <td style="width:100px;"> {{a.Referencia}} </td>
  <td style="width:10px;"> {{a.Cliente}} </td>
  <td style="width:200px"> {{a.Calle}} </td>
  <td style="width:3px;"> {{a.NumExt}} </td>
  <td style="width:10px;"> {{a.NumInt}} </td>
  <td style="width:200px;"> {{a.Colonia}} </td>
  <td style="width:200px;"> {{a.Municipio}} </td>
  <td style="width:3px;"> {{a.Prioridad}} </td>
  <td ><span class="label label-{%if a.Estatus = 'PROCESO'%}success{%elif a.Estatus = 'DETENIDO'%}default{%endif%}">{{a.Estatus}}</span></td>
  <td style="width:35px;"> {{ a.Solicitud|dayssince }}</td>     
  <td style="width:60px;" class="tabla_opciones"> <a href="/SIAV/actualiza_avaluo/{{a.avaluo_id}}">Captura</a></td>
</tr>
{% endfor %}
</body>
</table>
</div>


<div class="modal fade" id="captura_masiva">

<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-body">

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h2 style="text-align:center">Captura Múltiple</h2>
    <div class="modal-body">
          {% csrf_token %}
          {% bootstrap_form captura_masiva layout='vertical'  %}
    </div>
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn btn-success" id="enviar-masiva" style="float:right">Enviar</button>
  </form>
</div>
</div>
<!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->

</div>
<!-- /.modal -->
{% endblock %}