{% extends "home/base.html" %}
{% load jsonify %}
<!DOCTYPE html>
<html>
<head>
  <title>Realtime Django</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta http-equiv="X-UA-Compatible" content="chrome=1">


  {% block script %}



  {% endblock %} 
</head>
<body>
  {% block content %}
  <div id="comment_div" >
<!--     <ul id="comments" style="overflow:scroll; height:400px;">
        {% for comment in comments %}
            <li>[{{comment.date|date:"h:m"}}]{{comment.user}}: {{comment.text}}</li>
        {% endfor %}
    </ul> -->
    {{request.session.session_key}}
  </div>
    <input type="text" id="comment" name="comment" />
  {% endblock %}
</body>
</html>