{% extends "home/base.html" %}

{% load listutil %}

{% load thumbnail %}

{% load crispy_forms_tags %}

{% block captura %}active{% endblock %}

{% load currency %}

{% load file_exists %}


{% block style %}

<style type="text/css" title="currentStyle">
</style>

<style>
div.ui-datepicker{
	font-size:10px;
}
</style>
{% endblock %}

{% block script %}


<script type="text/javascript"
src="https://maps.google.com/maps/api/js?sensor=true">
</script>   
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/jquery-datepicker-es.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/fileuploader.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/ajax_estados_municipios.js"></script> <!-- Incluye  sugerencia de colonias.-->
<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>


<script>        
function createUploader(){            
  var uploader = new qq.FileUploader( {
    action: "{% url "app.uploads.ajax_upload" avaluo.avaluo_id avaluo.FolioK %}",
    element: $('#file-uploader')[0],
    multiple: true,
    onComplete: function( id, fileName, responseJSON ) {
      if( responseJSON.success )
        alert( "Carga exitosa." ) ;
      else
        alert( "Carga fallida!" ) ;
    },
    onAllComplete: function( uploads ) {
                    // uploads is an array of maps
                    // the maps look like this: { file: FileObject, response: JSONServerResponse }
                    //alert( "All complete!" ) ;
                  },
                  params: {
                    'csrf_token': '{{ csrf_token }}',
                    'csrf_name': 'csrfmiddlewaretoken',
                    'csrf_xname': 'X-CSRFToken',
                  },
                } ) ;
}         


</script>  

<script type="text/javascript"> 
$(function() {

            // in your app create uploader as soon as the DOM is ready
            // don't wait for the window to load  
            window.onload = createUploader;    


            $('#id_Solicitud').datepicker({ autoSize: true });
            $('#id_Visita').datepicker({ autoSize: true });

            $(":input").blur(function() {
              if(this.id != 'id_Observaciones') {
                this.value = this.value.toUpperCase();
              }
            });

            $('#slickbox').hide();
            // toggles the slickbox on clicking the noted link  
            $('#slick-toggle').click(function() {	
              $('#slickbox').toggle(400);
              initialize();
              return false;
            });

            $('#id_NumInt').attr('disabled','disabled'); 
            $('input').blur(function () {
              if ($('#id_NumExt').val()) {
                $('#id_NumInt').removeAttr('disabled');
              }else{
                $('#id_NumInt').attr('disabled','disabled');   
              }
            });

          });

</script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/mapas.js"></script>

<script type="text/javascript">

function initialize() {

 var latlng = new google.maps.LatLng({{decimal.declon}},({{decimal.declat}}*-1));
 var myOptions = {
  zoom: 14,
  center: latlng,
  mapTypeId: google.maps.MapTypeId.ROADMAP
};
var map = new google.maps.Map(document.getElementById("map_canvas"),
  myOptions);


marker = new google.maps.Marker({
  position: latlng,
  map: map
});

marker.setMap(map);

{% for x in cercanos %}
var latlng = new google.maps.LatLng({{x.2}},({{x.3}}*-1));

marker_{{x.1}} = new google.maps.Marker({
  position: latlng,
  map: map,
  icon:'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'
});
marker_{{x.1}}.setMap(map);

var boxText = document.createElement("div");
boxText.style.cssText = "border: 1px solid black; margin-top: 8px; background: #0A1B2A; padding: 5px;font-size:15px;";
boxText.innerHTML = "<a href='/SIAV/respuesta_consulta_sencilla/{{x.1}}' target='_blank' >{{x.4}} <br> Valor: {{x.5|currency}}</a>";

var myOptions_{{x.1}} = {
 content: boxText
 ,disableAutoPan: false
 ,maxWidth: 0
 ,pixelOffset: new google.maps.Size(-140, 0)
 ,zIndex: null
 ,boxStyle: { 
  background: "url('http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/examples/tipbox.gif') no-repeat"
  ,opacity: 0.75
  ,width: "280px"
}
,closeBoxMargin: "10px 2px 2px 2px"
,closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif"
,infoBoxClearance: new google.maps.Size(1, 1)
,isHidden: false
,pane: "floatPane"
,enableEventPropagation: false
};


var ib = new InfoBox();

google.maps.event.addListener(marker_{{x.1}}, "click", function (e) {
  ib.close();
  ib.setOptions(myOptions_{{x.1}})
  ib.open(map, this);
});




{% endfor %}
}
</script>


{% endblock %}     

{% block content %}
<h1 style="text-align:center">Captura</h1>
<div class="row">
  
  {% for item in imagenes %}
  {% if item.imagen.url|file_exists %}

  <div class="col-xs-3 col-md-2">
    <div class="thumbnail">
      {% thumbnail item.imagen "100x100" crop="center" as small %}
      <a class="thumbnail" href="/{{item.imagen}}" title="{{item.avaluo_id}}" margin-bottom:0px;>
        <img src="/{{ small.url }}">
      </a>
      <div class="caption">
        <p><a data-toggle="modal" data-target="#myModal_{{item.imagen_id}}" href="#myModal_{{item.imagen_id}}" title="{{item.FolioK}}" class="btn btn-xs btn-danger" style="margin-left:15px" role="button"><span class="glyphicon glyphicon-remove"></span></a></p>
      </div>
      {% endthumbnail %}
    </div>
  </div>
  
  <div class="modal fade" id="myModal_{{item.imagen_id}}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p align="center">¿Estás seguro de que deseas eliminar esta imagen?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger" onclick="location.href='/SIAV/elimina_imagen_captura/{{item.avaluo_id}}/{{item.imagen_id}}';">Eliminar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  {% endif %}
  {% endfor %}

</div>
<br>
{% for item in archivos %}

<a href="/{{item.file}}" target="_blank" >{{item.file}}</a><br>
<!-- <embed src="/{{item.file}}" width="400" height="500" alt="pdf"> -->
{% endfor %}


<div id="controls" style="display:block;">
	<input class="btn btn-primary button white" type="button" id="slick-toggle" value="Mapas" />
  <div id="slickbox" >
    <div class="col-md-6" id="map_canvas" style="width: 700px; height: 500px;"  ></div>
    <div class="col-md-4">
     <table class="table" style="float:right;">
      <th>Distancia</th>
      <th>Id</th>
      <th>FolioK</th>
      <th>Valor</th>
      {% for x in cercanos %}
      <tr>
        <td>{{x.0}}</td>
        <td>{{x.1}}</td>
        <td><a href='/SIAV/respuesta_consulta_sencilla/{{x.1}}' target='_blank' >{{x.4}}</a></td>
        <td>{{x.5|currency}}</td>
      </tr>
      {%endfor%}
    </table>
  </div>
  
</div>
<div id="file-uploader" style="float:right;">		
 <noscript>			
  <p>Please enable JavaScript to use file uploader.</p>
  <!-- or put a simple form for upload here -->
</noscript>         
</div>
</div>

<div class="col-md-12">
  <div class="col-md-offset-2">
   <table class="table" id="datos_texto">
    <tr>
     <td>Avaluo Id : <b>{{ avaluo.avaluo_id }}</b></td>
     <td>Folio K : <b>{{ folio_k }}</b></td>
     <td>Tipo de Servicio: <b>{{ avaluo.Servicio }}</b></td>

   </tr>
   <tr>
     <td>Cliente : <b>{{ avaluo.Cliente }}</b></td>
     <td>Departamento : <b>{{ avaluo.Depto}}</b></td>
     <td>Fecha Solicitud : <b>{{ avaluo.Solicitud }}</b></td>
   </tr>
 </table>
</div>
</div>
{% crispy form %}	
<br>
<br>

{% endblock %}