{% extends "home/base.html" %}

{% load listutil %}

{% load crispy_forms_tags %}

{% block salida %}active{% endblock %}



 {% block style %}
 
     <style type="text/css" title="currentStyle">
	@import "{{ STATIC_URL }}CSS/smoothness/jquery-ui-1.8.24.custom.css";
    </style>
    
    <style>
      div.ui-datepicker{
	font-size:10px;
      }
    </style>
	

 
 {% endblock %}

 {% block script %}
 
    
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/jquery-ui-1.8.24.custom.min.js"></script> 
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/jquery-datepicker-es.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/ajax_estados_municipios.js"></script> <!-- Incluye  sugerencia de colonias.-->

    
    <script type="text/javascript"> 
    $(function() {
	  
  
	  $('#id_Solicitud').datepicker({ autoSize: true });
	  $('#id_Salida').datepicker({ autoSize: true });
	  
		$(":input").blur(function() {
		  if(this.id != 'id_Observaciones') {
		  this.value = this.value.toUpperCase();
		  }
		});
		  
    });
    </script>
	
 {% endblock %}     
 

{% block content %}
  <h1>Salida de Avaluo</h1>
  <hr>
  <br>
      {% if forma.errors %}
        <p style="color: red;">
            Porfavor corrige los errores debajo.
        </p>
    {% endif %}
  
  
	<table class="table table-condensed" id="datos_texto">
		<tr>
			<td>Avaluo Id : {{ avaluo.avaluo_id }}</td>
			<td>Folio K : {{ folio_k}}</td>
			<td>Referencia : {{ avaluo.Referencia}}</td>
		</tr>
		<tr>
			<td>Cliente : {{ avaluo.Cliente }}</td>
			<td>Departamento : {{ avaluo.Depto}}</td>
			<td>Fecha Solicitud : {{ avaluo.Solicitud }}</td>
		</tr>
		<tr>
			<td>Colonia : {{ avaluo.Colonia }}</td>
			<td>Municipio : {{ avaluo.Municipio }}</td>
			<td>Estado : {{ avaluo.Estado}}</td>

		</tr>

	</table>


   		{% crispy form %}	
	<br>
   <br>


  
{% endblock %}