{% extends "home/base.html" %}

{% load listutil %}

{% load thumbnail %}

{% load crispy_forms_tags %}

{% block visita %}active{% endblock %}

{% load file_exists %}



{% block style %}

<style type="text/css" title="currentStyle">

</style>

<style>
div.ui-datepicker{
	font-size:10px;
}
</style>
{% endblock %}

{% block script %}



<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/jquery-datepicker-es.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/ajax_estados_municipios.js"></script>
<script src="{{ STATIC_URL }}JS/jquery.tooltipster.min.js"></script>
 <!-- Incluye  sugerencia de colonias.-->
{% include "widgets/widget_mapas.js" %}
{% include "widgets/widget_imagenes.js" %}
 

<script type="text/javascript"> 
$(function() {


  $('#id_Contacto').tooltipster({
  content: 'Escribe el correo del contacto a notificar.',
  contentAsHTML: true,
  interactive: true,
  position: 'right',
});




            $('#id_Solicitud').datepicker({ autoSize: true });
            $('#id_Visita').datepicker({ autoSize: true });

            $(":input").blur(function() {
              if(this.id != 'id_Observaciones') {
                this.value = this.value.toUpperCase();
              }
            });

            $('#slickbox').hide();
            // toggles the slickbox on clicking the noted link  
            $('#slick-toggle').click(function() {	
              $('#slickbox').toggle(400);
              initialize();
              return false;
            });

            $('#id_NumInt').attr('disabled','disabled'); 
            $('input').blur(function () {
              if ($('#id_NumExt').val()) {
                $('#id_NumInt').removeAttr('disabled');   
              }else{
                $('#id_NumInt').attr('disabled','disabled');   
              }
            });

          });




</script>



{% endblock %}     

{% block content %}

<h1 style="text-align:center">Visita</h1>

<div class="row-fluid">
  <div class="span5">
  {% include "widgets/widget_imagenes.html" %}
  </div>
  <a style="float:right" href="/SIAV/show_visita_pdf/{{avaluo.avaluo_id}}/" >
    <input class="btn btn-info button white" type="button" id="slick-toggle" value="Reporte de Visita" />
  </a>
  <div class="span6">
  <table class="table" id="datos_texto">
    <tr>
      <td>
        Folio K : <b>{{ folio_k }}</b>
      </td>
    </tr>
    <tr>
      <td>
        Tipo de Servicio: <b>{{ avaluo.Servicio }}</b>
      </td>
    </tr>
    <tr>
      <td>
        Cliente :
        <b>{{ avaluo.Cliente }}</b>
      </td>
    </tr>
    <tr>
      <td>
        Departamento :
        <b>{{ avaluo.Depto}}</b>
      </td>
    </tr>
    <tr>
      <td>
        Fecha Solicitud :
        <b>{{ avaluo.Solicitud }}</b>
      </td>
    </tr>
    <tr>
      <td>
        Colonia :
        <b>{{ avaluo.Colonia }}</b>
      </td>
    </tr>
    <tr>
      <td>
        Municipio :
        <b>{{ avaluo.Municipio }}</b>
      </td>
    </tr>
    <tr>
      <td>
        Estado :
        <b>{{ avaluo.Estado }}</b>
      </td>
    </tr>
  </table>

  </div>


</div>




	{% crispy form %}	

	<br>
<br>

{% endblock %}