{% extends "home/base.html" %}
{% load listutil %}

{% load thumbnail %}

{% load crispy_forms_tags %}

{% load currency %}


{% block captura %}active{% endblock %}


{% block style %}
<style type="text/css" title="currentStyle"></style>

<style>
div.ui-datepicker{
  font-size:10px;
}
/*.flexslider {
    width: 900px;
    height: 200px;
}

.flexslider .slides img {
    width: 200px;
    height: 200px;
}*/
</style>
{% endblock %}

{% block script %}
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/jquery-datepicker-es.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/ajax_estados_municipios.js"></script>
{% include "widgets/widget_mapas.js" %}
{% include "widgets/widget_imagenes.js" %}

<!-- Incluye  sugerencia de colonias.-->

<script type="text/javascript"> 
$(function() {

            $('#id_Solicitud').datepicker({ autoSize: true });
            $('#id_Visita').datepicker({ autoSize: true });

            $(":input").blur(function() {
              if(this.id != 'id_Observaciones') {
                this.value = this.value.toUpperCase();
              }
            });

            // toggles the slickbox on clicking the noted link  
            initialize();


            $('#id_NumInt').attr('disabled','disabled'); 
            $('input').blur(function () {
              if ($('#id_NumExt').val()) {
                $('#id_NumInt').removeAttr('disabled');
              }else{
                $('#id_NumInt').attr('disabled','disabled');   
              }
            });

          });

</script>

{% endblock %}     

{% block content %}
<h1 style="text-align:center">Captura</h1>

<div class="row-fluid">
  <div class="span5">
  {% include "widgets/widget_imagenes.html" %}
  </div>
  
  <!-- Span 5 !-->
  <div class="span6">
    <table class="table" id="datos_texto">
      <tr>
        <td>
          Folio K : <b>{{ folio_k }}</b>
        </td>
      </tr>
      <tr>
        <td>
          Tipo de Servicio: <b>{{ avaluo.Servicio }}</b>
        </td>
      </tr>
      <tr>
        <td>
          Cliente :
          <b>{{ avaluo.Cliente }}</b>
        </td>
      </tr>
      <tr>
        <td>
          Departamento :
          <b>{{ avaluo.Depto}}</b>
        </td>
      </tr>
      <tr>
        <td>
          Fecha Solicitud :
          <b>{{ avaluo.Solicitud }}</b>
        </td>
      </tr>
    </table>
    <div id="map_canvas" style="width: 700px; height: 265px;"  style="float:right;"></div>

  </div>
  <!-- Span 6 !-->

</div>
<!-- Row Fluid Div !-->

<br>
{% for item in archivos %}
<a href="/{{item.file}}" target="_blank" >{{item.file}}</a>
<br>
{% endfor %}

{% crispy form %}
<br>
<br>
{% endblock %}