{% extends "home/base.html" %}

{% load crispy_forms_tags %}

{% load dayssince %}

{% load month_convert %}

{% block estadistico %}active{% endblock %}

{% load currency %}

{% load elapsed %}

{% load humanize %}



{% block script %}
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/picnet-table.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/jquery.livequery.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/highcharts.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/boostrap-tab.js"></script>
<script>
var pre_url = "/SIAV/estadistico_anio_js/?anio="+{{anio}};
$.getScript( pre_url, function() {});

$('input[name="anio_check"]').each(function() {
    if ({{anio}} == this.value){
        $(this).prop('checked', true);
    }
});

$( ".anio" ).change(function() {
    check_anio = "";
    $('input[name="anio_check"]:checked').each(function() {
       check_anio += (this.value+",");
       console.log(check_anio);
    });
    var url = "/SIAV/estadistico_anio_js/?anio="+check_anio;
    $.getScript( url, function() {});
});

$( ".mes" ).change(function() {
    check_anio = "";
    $('input[name="mes_check"]:checked').each(function() {
       check_mes += (this.value+",");
       console.log(check_mes);
    });
    var url = "/SIAV/estadistico_mes_js/?mes="+check_mes;
    $.getScript( url, function() {});
});
</script>

<script>
$(function () {
        $(document).ready(function() {
           var chart;


           $('#todos_container').highcharts({
            chart: {
                type: 'column',
                backgroundColor: '#FFFFFF',
                borderColor: '#D5D5D5',
                borderWidth: 2,
            },
            colors: [
            '#123256',
            ],
            title: {
                text: 'Historial'
            },
            xAxis: {
              categories: [
              {% for anio in monto_todos_anios %}
              {% if anio.year %}
              {{anio.year}},
              {% endif %}
              {% endfor %} 
              ]
          },
          yAxis: {
            title: {
                text: 'Cantidad'
            }
        },
        series: [ 
        {
            name: 'Año',
            data: [ 
            {% for anio in monto_todos_anios %}
            {% if anio.year %}
            {{anio.Total}},
            {% endif %}
            {% endfor %} 
            ]
        },       

            /*{
            name: 'John',
            data: [5, 7, 3]
        }*/],
        tooltip: {
            pointFormat: '<b>${point.y:,.0f}<b/>',
            shared: false,
        },
    });

  $('#pie_container').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                backgroundColor: '#FFFFFF',
                borderColor: '#D5D5D5',
                borderWidth: 2,
            },
            title: {
                text: ''
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage}%</b>',
                percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    size:'70%',
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>' + this.point.name + '</b>: ' + this.percentage.toFixed(2) + ' %';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Porcentaje',
                data: [
                {% for a in cliente %}
                {% if a.Total %}
                    ['{{a.Cliente__Cliente}}',{{a.Total}}],
                {% endif %}
                {% endfor %}

                ]
            }]
        });

});
});

</script>
{% endblock %}      
{% block content %}
<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
    <li class="active">
        <a href="#asigna" data-toggle="tab">Asignación</a>
    </li>
    <li>
        <a href="#cliente" data-toggle="tab">Cliente</a>
    </li>
    <li>
        <a href="#historial" data-toggle="tab">Historial</a>
    </li>
    <li>
        <a href="#tolerancia" data-toggle="tab">Tolerancia</a>
    </li>
</ul>

<div id="my-tab-content" class="tab-content">
    <div class="tab-pane active" id="asigna">
        <!--             <h1>Asignación ({{anio}})</h1>
    -->
    <br>

    <div class="row">
            
            {% for a in anios %}
            <div class="controls span2">
                <label class="checkbox">
                    <input type="checkbox" class="anio" name="anio_check" value="{{a.year}}" id="check_{{a.year}}">{{a.year}}</label>
            </div>
            {%endfor%}

        <br>
        <br></div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="line_container" ></div>

            </div>
            <div class="col-md-6">
                <div id="bar_container"></div>
            </div>
        </div>
        <br>
        <table class="table table-hover" style="width:83%;margin-top:50px">

            <thead>
                <th>Mes</th>
                <th>Cantidad Avaluos</th>
                <th>Importe</th>
            </thead>
            {% for a in avaluos %}
            <tr>
                <td>{{ a.month|month_name }}</td>
                <td>{{ a.dcount }}</td>
                <td>{{ a.Total|currency }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td> <b>Total</b>
                </td>
                <td>
                    <b>{{totales.0}}</b>
                </td>
                <td>
                    <b>{{totales.1|currency}}</b>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="tab-pane" id="cliente">
    <h1>Clientes /Mes Actual({{mes}})/{{anio}}</h1>
    <br>
    <div align="right" class="container">
                    <select onChange="" class="select">
                    {% for m in meses %}
                    <option name="{{m.1}}" value="{{m.0}}">{{m.1}}</option>
                    {%endfor%}
                </select>
        <br>
        <br>
        <div class="row">
            <div class="col-md-8">
                <div id="pie_container"></div>
            </div>
            <div class="col-md-3">
                <table class="table table-hover" style="width:50%;margin-left:10px;">
                    <thead>
                        <th>Cliente</th>
                        <th>Cantidad</th>
                        <th>Importe</th>
                    </thead>
                    {% for a in cliente %}
                    <tr>
                        <td>{{a.Cliente__Cliente}}</td>
                        <td>{{a.Cantidad}}</td>
                        <td>{{ a.Total|currency }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

        </div>
    </div>
</div>
<div class="tab-pane" id="historial">
    <h1>Historial ({{anio}})</h1>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div id="todos_container" ></div>
            </div>
            <div class="col-md-3">
                <table class="table table-hover" style="width:50%;margin-left:10px;">
                    <thead>
                        <th>Año</th>
                        <th>Importe</th>
                    </thead>
                    {% for a in monto_todos_anios %}
                    <tr>
                        <td>{{ a.year }}</td>
                        <td>{{ a.Total|currency }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

<div class="tab-pane" id="tolerancia">
    <h1>Tolerancia</h1>
    <br>
    <div class="container">
        <div class="row">
            <table class="table table-hover" style="width:83%;margin-top:50px">
            <thead>
                <th>Cliente</th>
                
                <th>En tiempo</th>
                <th> < 3 dias</th>
                <th> > 3 dias</th>  
                <th>Total</th>        
            </thead>
            {% for a in en_tiempo %}
            <tr>
                <td>{{a.1}}</td>
                <td>{{a.3}}</td>
                <td>{{a.4}}</td>
                <td>{{a.5}}</td>
                <td><b>{{a.2}}</b></td>
            </tr>
            {% endfor %}
        </table>
</div>

</div>
</div>
</div>
<br>
<br>
<ul class="breadcrumb">
{% for a in anios %}
<li>
    <a href="/SIAV/estadistico/{{a.year}}">{{a.year}}</a>
    <span class="divider">/</span>
</li>
{% endfor %}
</ul>
{% endblock %}