{% extends "home/base.html" %}

{% load crispy_forms_tags %}

{% load dayssince %}

{% load month_convert %}

{% load currency %}

{% load humanize %}



{% block script %}

<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/picnet-table.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/jquery.livequery.js"></script> 
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/highcharts.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/boostrap-tab.js"></script>

<script type="text/javascript">
$(document).ready(function () {
    $('#avaluos_table').tableFilter();
    valor = 0;

  // Radialize the colors
    Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function(color) {
        return {
            radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
            stops: [
                [0, color],
                [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
            ]
        };
    });


    $(function () {
        $(document).ready(function() {
           var chart;
           $('#line_container').highcharts({
            chart: {
                type: 'line',
                backgroundColor: '#FFFFFF',
                borderColor: '#D5D5D5',
                borderWidth: 2,
            },
            title: {
                text: 'Avaluos {{anio}}'
            },
            xAxis: {
                categories: [{% for data in avaluos %}
                "{{data.month|month_name}}",
                {% endfor %}
                ]
            },
            yAxis: {
                title: {
                    text: 'Cantidad'
                }
            },
            tooltip: {
             thousandsSep: ' ',
             decimalPoint: ','
         },
         series: [{
            name: 'Avaluos',
            data: [  {% for data in avaluos %}
            {{data.dcount}},
            {% endfor %}
            ]
}, /*{
name: 'John',
data: [5, 7, 3]
}*/]
});

           $('#bar_container').highcharts({
            chart: {
                type: 'column',
                backgroundColor: '#FFFFFF',
                borderColor: '#D5D5D5',
                borderWidth: 2,

            },
            title: {
                text: 'Importes {{anio}}'
            },
            xAxis: {
                categories: [{% for data in avaluos %}
                "{{data.month|month_name}}",
                {% endfor %}
                ]
            },
            yAxis: {
                title: {
                    text: 'Cantidad'
                }
            },

            series: [{
                name: 'Importe',
                data: [  {% for data in avaluos %}
                {{data.Total}},
                {% endfor %}
                ]
            }, /*{
            name: 'John',
            data: [5, 7, 3]
        }*/],
        tooltip: {
            pointFormat: '<b>${point.y:,.2f}<b/>',
            shared: false
        },
    });



           $('#todos_container').highcharts({
            chart: {
                type: 'column',
                backgroundColor: '#FFFFFF',
                borderColor: '#D5D5D5',
                borderWidth: 2,
            },
            colors: [
            '#123256',
            ],
            title: {
                text: 'Historial'
            },
            xAxis: {
              categories: [
              {% for anio in monto_todos_anios %}
              {% if anio.year %}
              {{anio.year}},
              {% endif %}
              {% endfor %} 
              ]
          },
          yAxis: {
            title: {
                text: 'Cantidad'
            }
        },
        series: [ 
        {
            name: 'Año',
            data: [ 
            {% for anio in monto_todos_anios %}
            {% if anio.year %}
            {{anio.Total}},
            {% endif %}
            {% endfor %} 
            ]
        },       

            /*{
            name: 'John',
            data: [5, 7, 3]
        }*/],
        tooltip: {
            pointFormat: '<b>${point.y:,.0f}<b/>',
            shared: false,
        },
    });

  $('#pie_container').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                backgroundColor: '#FFFFFF',
                borderColor: '#D5D5D5',
                borderWidth: 2,
            },
            title: {
                text: ''
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage}%</b>',
                percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    size:'70%',
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>' + this.point.name + '</b>: ' + this.percentage.toFixed(2) + ' %';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Browser share',
                data: [
                {% for a in cliente %}
                {% if a.Total %}
                    ['{{a.Cliente__Cliente}}',{{a.Total}}],
                {% endif %}
                {% endfor %}

                ]
            }]
        });

});


});

    
});

</script>

{% endblock %}      
{% block content %}
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#asigna" data-toggle="tab">Asignación</a></li>
        <li><a href="#cliente" data-toggle="tab">Cliente</a></li>
        <li><a href="#historial" data-toggle="tab">Historial</a></li>
    </ul>

    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="asigna">
            <h1>Asignación ({{anio}})</h1>
            <br>
                <div class="container">
                    <div class="row-fluid span10">
                        <div class="span6">
                            <div id="line_container" ></div>
                 
                        </div>
                        <div class="span6">
                            <div id="bar_container"></div>
                        </div>
                    </div>
                   <br>
                   <table class="table table-hover" style="width:83%;margin-top:50px">
                        <thead>
                            <th>Mes</th>
                            <th>Cantidad Avaluos</th>
                            <th>Importe</th>
                        </thead>
                        {% for a in avaluos %}
                        <tr>
                            <td>{{ a.month|month_name }}</td>
                            <td>{{ a.dcount }}</td>
                            <td>{{ a.Total|currency }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td><b>Total</b></td>
                            <td><b>{{totales.0}}</b></td>
                            <td><b>{{totales.1|currency}}</b></td>
                        </tr>
                    </table>
                </div>
        </div>
        <div class="tab-pane" id="cliente">
            <h1>Clientes {{anio}}</h1>
            <br>
            <div class="container">
                <div class="row-fluid">
                <div class="span6">
                     <div id="pie_container"></div>
                </div>
                <div class="span6">
                    <table class="table table-hover" style="width:50%;margin-left:10px;">
                                        <thead>
                                            <th>Cliente</th>
                                            <th>Importe</th>
                                        </thead>
                                        {% for a in cliente %}
                                        <tr>
                                            <td>{{a.Cliente__Cliente}} </td>
                                            <td>{{ a.Total|currency }}</td>
                                        </tr>
                                        {% endfor %}
                    </table>
                </div>
         
                </div>
            </div>
        </div>
        <div class="tab-pane" id="historial">
            <h1>Historial ({{anio}})</h1>
            <br>
            <div class="container">
                <div class="row-fluid">
                    <div class="span6">
                        <div id="todos_container"></div>
                    </div>
                    <div class="span6">
                        <table class="table table-hover" style="width:50%;margin-left:10px;">
                                <thead>
                                    <th>Año</th>
                                    <th>Importe</th>
                                </thead>
                                {% for a in monto_todos_anios %}
                                <tr>
                                    <td>{{ a.year }}</td>
                                    <td>{{ a.Total|currency }}</td>
                                </tr>
                                {% endfor %}
                        </table>
                    </div>
                </div>
                </div>
            </div>
        </div>
 
    <br>
    <br>
    <ul class="breadcrumb">
        {% for a in anios %}
        <li><a href="/SIAV/estadistico/{{a.year}}">{{a.year}}</a> <span class="divider">/</span></li>
        {% endfor %}
    </ul>


{% endblock %}
