{% extends "home/base.html" %}

{% load dayssince %}

{% block script %}
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/picnet.table.filter.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
  $('#avaluos_table').tableFilter();
  valor = 0;

  var rowCount = { p: $('#avaluos_table tbody tr:visible').length };
  valor = ($('#avaluos_table tbody tr:visible').length);

  $('#cantidad_tabla').html(valor);

  $('#avaluos_table thead').on("change", function () {
    setTimeout(function () {
      window.location = '/SIAV/';
    }, 1000);
  });
});
</script>
{% endblock %}      
{% block content %}
<h1>Servicios en Proceso</h1>
<h2 style="text-align:left">
  <span id="cantidad_tabla"></span>
  Servicios
</h2>
<div class="table-responsive">
  <table id='avaluos_table' class="table table-striped">
    <thead>
      <tr class='even'>
        <th style="width:40px">Folio K</th>
        <th style="width:40px" filter='false' >Ref.</th>
        <th filter-type='ddl'>Cliente</th>
        <th filter-type='ddl'>Depto</th>
        <th>Calle</th>
        <th filter='false'>Ext.</th>
        <th filter='false'>Int.</th>
        <th style="width:100px" filter-type='ddl'>Colonia</th>
        <th filter-type='ddl'>Municipio</th>
        <th filter='false'>Prioridad</th>
        <th style="width:10px" filter-type='ddl'>Estatus</th>
        <th filter='false'>Dias</th>
      </tr>
    </thead>
<body>
    {% for a in avaluos %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>{{a.FolioK}}</td>
      <td style="width:100px;">{{a.Referencia}}</td>
      <td style="width:10px;">{{a.Cliente}}</td>
      <td style="width:10px;">{{a.Depto}}</td>
      <td style="width:200px">{{a.Calle}}</td>
      <td style="width:3px;">{{a.NumExt}}</td>
      <td style="width:10px;">{{a.NumInt}}</td>
      <td style="width:200px;">{{a.Colonia}}</td>
      <td style="width:200px;">{{a.Municipio}}</td>
      <td style="width:3px;">{{a.Prioridad}}</td>
      <td style="width:60px;">{{a.Estatus}}</td>
      <td style="width:35px;">{{ a.Solicitud|dayssince }}</td>
    </tr>
    {% endfor %}
</body>
  </table>
</div>
{% endblock %}