{% extends "home/base.html" %}

 
 {% block script %}
 
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/picnet.table.filter.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
	    $('#usuarios_table').tableFilter();
    });  
    </script>

 {% endblock %}      

{% block content %}
  <h2>Lista de Usuarios</h2>

  <table id='usuarios_table'>
	  <thead>
		  <tr><th  filter='false'>ID</th><th  filter='false'>Nombre</th><th filter='false'>Correo</th><th filter='false'>Username</th><th filter='false'>Activo?</th><th filter='false'>Opciones</th></tr>
	  </thead>
	  <tbody>
		  {% for u in usuarios %}
		  <tr>
		      <td> {{u.id}} </td>
		      <td> {{u.first_name}} </td>
		      <td> {{u.email}} </td>
		      <td> {{u.username}} </td>
		      <td> {{u.is_active}} </td>
		      <td> <a href="/editar_usuario/{{u.usuario_id}}">Editar</a></td>
		  </tr>
		  {% endfor %}
	  </tbody>
  </table>

  
{% endblock %}
