{% extends "home/base.html" %}

<!DOCTYPE html>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	{% block style %}
    <style>    	
    </style>	
	{% endblock %}
	
    
	<p>To upload a file, click on the button below. Drag-and-drop is supported in FF, Chrome.</p>
	<p>Progress-bar is supported in FF3.6+, Chrome6+, Safari4+</p>
{% block content %}
	
	<div id="file-uploader">		
		<noscript>			
			<p>Please enable JavaScript to use file uploader.</p>
			<!-- or put a simple form for upload here -->
		</noscript>         
	</div>
{% endblock %}
	
  {% block script %}
   
	<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/fileuploader.js"></script>
    <script>        
        function createUploader(){            
		  var uploader = new qq.FileUploader( {
			action: "{% url app.uploads.ajax_upload %}",
			element: $('#file-uploader')[0],
			multiple: true,
			onComplete: function( id, fileName, responseJSON ) {
			  if( responseJSON.success )
				alert( "success!" ) ;
			  else
				alert( "upload failed!" ) ;
			},
			onAllComplete: function( uploads ) {
			  // uploads is an array of maps
			  // the maps look like this: { file: FileObject, response: JSONServerResponse }
			  alert( "All complete!" ) ;
			},
			params: {
			  'csrf_token': '{{ csrf_token }}',
			  'csrf_name': 'csrfmiddlewaretoken',
			  'csrf_xname': 'X-CSRFToken',
			},
		  } ) ;
}         
        
        
        // in your app create uploader as soon as the DOM is ready
        // don't wait for the window to load  
        window.onload = createUploader;     
		

    </script>  

 {% endblock %}      
