{% extends "home/base.html" %}

{% load dayssince %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block visita %}active{% endblock %}
{% block script %}
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/picnet.table.filter.min.js"></script>
<script src="{{ STATIC_URL }}JS/jquery.tooltipster.min.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/show_hide.js"></script>
<script type="text/javascript">
$(document).ready(function () {

  {% include "snippets/pauseorplay.js" %}
  $('#avaluos_table').tableFilter();
  valor = 0;

  var rowCount = { p: $('#avaluos_table tbody tr:visible').length };
  valor = ($('#avaluos_table tbody tr:visible').length);

  $('#cantidad_tabla').html(valor);

  $('#avaluos_table thead').on("change", function () {
    setTimeout(function () {
      window.location = '/SIAV/visita/';
    }, 1000);
  });
});

$(document).ready(function(){

 $('.show_hide').showHide({
        speed: 1000,  // speed you want the toggle to happen
        easing: '',  // the animation effect you want. Remove this line if you dont want an effect and if you haven't included jQuery UI
        changeText: 1, // if you dont want the button text to change, set this to 0
        showText: 'View',// the button text to show when a div is closed
        hideText: 'Close' // the button text to show when a div is open

      });
$('#id_Visita').datepicker({ autoSize: true , dateFormat: 'dd/mm/yy'});
$('#masiva_button, #button_orden_visita').click(function () {

    // Some code
    var id_button = this.id;
    if($(".form-checkbox").is(':checked')) {

      var selected = [];
      var selected2 = [];
      $('input:checked').each(function() {
          selected.push($(this).parent().next().next().next().next().next().next().next().html());
          selected2.push($(this).parent().next().html());
          console.log( selected2[i] );
      });
      var bandera = true;
      var url = "";
      for ( var i = 0; i < selected.length; i++ ) {
          // Logs "try 0", "try 1", ..., "try 4".
          if(selected[0] != selected[i]){
              bandera = false;
              
              //console.log( bandera );
          }
          url += "avaluo_visitado="+selected2[i]+"&";
      }

      if(bandera == false){
        sweetAlert("Todos los servicios deben pertenecer a la misma colonia.","","error");
      }else{
          if(id_button == "masiva_button"){
              $('#visita_masiva').modal('show');
              console.log( selected.toString());
              }
          else{
              console.log("URL:"+url);
              window.location.href = "/SIAV/show_orden_visita/?"+url;
          }
      }
      
      var selected = [];

       // $('#visita_masiva').modal('show');
    }else{
        sweetAlert("Selecciona al menos una casilla.","","warning");
    }

});
 
 
});

</script>

{% endblock %}      

{% block content %}
{% if forma.errors %}
<p style="color: red;">Porfavor completa los campos faltantes.</p>
{% endif %}
   <input id="button_orden_visita" type="submit" value="Orden Visita" class="btn btn-info"/>
  <a id="masiva_button"  title="Visita" style="float:right" class="btn btn-primary mass_button" role="button">
    <span class="glyphicon glyphicon-ok"></span>
    VISITAR
  </a>
<h1>Visita</h1>
<h2 style="text-align:left">
  <span id="cantidad_tabla"></span>
  Servicios
</h2>

<form id="modal-form" class="" method="post" action="/SIAV/visita_masiva/">
<div id='printableArea' class="table-responsive">
<table id='avaluos_table' class="table table-striped table-hover">
  <thead>
    <tr class="{% if a.Solicitud|dayssince|add:"0" > a.Depto.Tolerancia|add:"0" and a.Estatus != 'DETENIDO' %}danger{% endif%}">
        <th></th>
        <th style="width:40px">Folio K</th>
        <th style="width:40px" filter='true' >Referencia</th>
        <th filter-type='ddl'>Cliente</th>
        <th>Calle</th>
        <th filter='false'>Ext.</th>
        <th filter='false'>Int.</th>
        <th style="width:100px" filter-type='ddl'>Colonia</th>
        <th filter-type='ddl'>Municipio</th>
        <th style="width:10px" filter-type='ddl'>Prio.</th>
        <th style="width:10px" filter-type='ddl'>Status</th>
        <th filter='false'>Dias</th>
        <th style="width:10px" filter='false' class="tabla_opciones"></th>
      </tr>
    </thead>
<tbody>
  {% for a in avaluos %}
  <tr class="{% if a.Solicitud|dayssince|add:"0" > a.Depto.Tolerancia|add:"0" and a.Estatus != 'DETENIDO' %}danger{% endif%}">
    <td style="width:40px" filter='false'><input class="form-checkbox" type="checkbox" value="{{ a.avaluo_id }}" name="avaluo_visitado"></td>
    <td >{{a.FolioK}}</td>
    <td style="width:100px;"> {{a.Referencia}} </td>
    <td style="width:10px;"> {{a.Cliente}} </td>
    <td style="width:200px"> {{a.Calle}} </td>
    <td style="width:3px;"> {{a.NumExt}} </td>
    <td style="width:10px;"> {{a.NumInt}} </td>
    <td style="width:200px;"> {{a.Colonia}} </td>
    <td style="width:200px;"> {{a.Municipio}} </td>
    <td style="width:3px;"> {{a.Prioridad}} </td>
    <td ><span class="label label-{%if a.Estatus = 'PROCESO'%}success{%elif a.Estatus = 'DETENIDO'%}default{%endif%}">{{a.Estatus}}</span></td>
    <td style="width:35px;"> {{ a.Solicitud|dayssince }}</td>       
      <td><a href="/SIAV/edita_visita/{{a.avaluo_id}}"><button type="button" class="btn btn-primary btn-sm">
  <span class="glyphicon glyphicon-edit"></span> </button></a></td>
  </tr>
  {% endfor %}
</tbody>
</table>
</div>

<div class="modal fade" id="visita_masiva">

<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-body">

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h2 style="text-align:center">Visita Múltiple</h2>
    <div class="modal-footer">
      <span style="display: block">
        {% if not visita_masiva.is_valid %}
        <div class='hide'>invalid_form</div>
        {% endif %}
          {% csrf_token %}
          {% bootstrap_form visita_masiva layout='horizontal'  %}
      </span>
    </div>
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn btn-success" id="enviar-masiva" style="float:right">Enviar</button>
  </form>
</div>
</div>
<!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->

</div>
<!-- /.modal -->

{% endblock %}