<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <heliconZoo>
      <application name="django.project">
        <environmentVariables>
                    <add name="PYTHONPATH" value="%APPL_PHYSICAL_PATH%;%APPL_PHYSICAL_PATH%\python_modules\Lib\site-packages;%PYTHONPATH%;%APPL_VIRTUAL_PATH%;" />
                    <add name="django.root" value="%APPL_VIRTUAL_PATH%" />
                    <add name="DEPLOY_FILE" value="deploy.py" />
                    <add name="DEPLOY_LOG" value="log\deploy.log" />
                    <add name="WATCH_FILE_CHANGES_MASK" value="*.py" />
                    <add name="WSGI_APP" value="wsgi.application" />
                    <add name="IDE" value="C:\Windows\system32\cmd.exe" />
          <!--<add name="DJANGO_SETTINGS_MODULE" value="settings" />
          -->
          
        </environmentVariables>
      </application>
    </heliconZoo>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="3.00:00:00" />
    </staticContent>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <handlers>
      <add name="django.project#x86" path="*" verb="*" modules="HeliconZoo_x86" scriptProcessor="python.2.7.wsgi" resourceType="Unspecified" requireAccess="Script" preCondition="bitness32" />
      <add name="django.project#x64" path="*" verb="*" modules="HeliconZoo_x64" scriptProcessor="python.2.7.wsgi" resourceType="Unspecified" requireAccess="Script" preCondition="bitness64" />
    </handlers>
        <httpErrors errorMode="Detailed">
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
        </httpErrors>
        <directoryBrowse enabled="true" />
  </system.webServer>
  <connectionStrings>
    <add connectionString="Server=localhost;Database=siavdb;Uid=root;Pwd=siavdb" name="siavdb" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
  </system.web>
</configuration>