<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<style type="text/css">

</style>
</head>

<body>
<h1><a href="http://www.htmlremix.com/css/curved-corner-border-radius-cross-browser" title="">Rounded corner / Curved corner divs using CSS 3 in all browsers</a></h1>
<p>Not just divs, but any element*</p>
	<div class="rel">
		<div class="box1">
			lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet 
		</div>
		<div class="box2">
			this cat is a hybrid of domestic and wild breeds :)
		</div>
		<div class="box3">
			this box is absolutely positioned
		</div>
	</div>
</body>
</html>

