{% extends "home/base.html" %}

{% load dayssince %}

{% block script %}
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/picnet.table.filter.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
  {% include "snippets/avaluos_table.js" %}

});

</script>
{% endblock %}      
{% block content %}
  <input style="display:none" type="submit" value="Set Quick Find filter and refresh table" onclick="$('#quickfind').val('12'); $('#avaluos_table').tableFilterApplyFilterValues();">
  <br>
  Excluir Paquete Infonavit: <input type='checkbox' id='onlyno' style=""/>
<h1>Servicios en Proceso</h1>
<h2 style="text-align:left"><span id='rowcount'></span> Servicios</h2>
<div id='printableArea' class="table-responsive">
  <table id='avaluos_table' class="table table-striped table-hover">
    <thead>
      <tr class='even'>
        <th style="" filter='false' class="tabla_opciones"></th>
        <th style="width:40px">Folio K</th>
        <th style="width:40px" filter='true' >Referencia</th>
        <th filter-type='ddl'>Cliente</th>
        <th filter-type='ddl'>Depto</th>
        <th>Calle</th>
        <th filter='false'>Ext.</th>
        <th filter='false'>Int.</th>
        <th style="width:100px" filter-type='ddl'>Colonia</th>
        <th filter-type='ddl'>Municipio</th>
        <th filter='false'>Prioridad</th>
        <th style="width:10px" filter-type='ddl'>Estatus</th>
        <th style="width:10px" filter='false'>Dias</th>
      </tr>
    </thead>
<body>
    {% for a in avaluos %}
    <tr class="{% if a.Solicitud|dayssince|add:"0" > a.Depto.Tolerancia|add:"0" and a.Estatus != 'DETENIDO' %}danger{% endif%}">
  <td class="tabla_opciones"><input class="form-checkbox" type="checkbox" value="{{ a.avaluo_id }}" name="avaluo_capturado"></td>
      <td>{{a.FolioK}}</td>
      <td style="width:100px;">{{a.Referencia}}</td>
      <td style="width:10px;">{{a.Cliente}}</td>
      <td style="width:10px;">{{a.Depto}}</td>
      <td style="width:200px">{{a.Calle}}</td>
      <td style="width:3px;">{{a.NumExt}}</td>
      <td style="width:10px;">{{a.NumInt}}</td>
      <td style="width:200px;">{{a.Colonia}}</td>
      <td style="width:200px;">{{a.Municipio}}</td>
      <td style="width:3px;">{{a.Prioridad}}</td>
      <td ><span class="label label-{%if a.Estatus = 'PROCESO'%}success{%elif a.Estatus = 'DETENIDO'%}default{%endif%}">{{a.Estatus}}</span></td>
      <td style="width:35px;">{{ a.Solicitud|dayssince }}</td>
    </tr>
    {% endfor %}
</body>
  </table>
</div>
{% endblock %}