{% extends "neon/index.html" %}
{% block consulta %}active{% endblock %}

{% load listutil %}

{% load crispy_forms_tags %}

{% block consulta_master %}active{% endblock %}				

			{% block content %}		

		<h2>Consulta</h2>
		<br />
		
		
		<div class="row">
			<div class="col-md-12">
				
				<div class="panel panel-primary" data-collapsed="0">
				
					<div class="panel-heading">
						<div class="panel-title">
							Búsqueda de Servicios
						</div>
						
						<div class="panel-options">

						</div>
					</div>
					
					<div class="panel-body">
						


      {% if forma.errors %}
        <p style="color: red;">
            Porfavor completa los campos faltantes.
        </p>
    {% endif %}

    {% crispy forma %}  
   <br>

  <div>
    <input id="submit-id-submit" type="submit" value="Buscar" class="btn btn-primary"/>
    <br/>
    <div class="margin table-responsive" align="center">
        <span id="spinner"><img src="{{ STATIC_URL }}spinner_large.gif"/ width="50px"></span>
        <div id='printableArea'><div id="results"></div></div>
    </div>

					
					</div>
				
				</div>
				
			</div>
		</div>
</div>

		{% endblock %}





		

	



 {% block scripts %}


	<link rel="stylesheet" href="{{ STATIC_URL }}CSS/smoothness/jquery-ui-1.8.24.custom.css">




	<!-- Bottom scripts (common) -->
	<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/jquery-ui-1.8.24.custom.min.js"></script>
	<script src="{{ STATIC_URL }}/assets/js/joinable.js"></script>
	<script src="{{ STATIC_URL }}/assets/js/select2/select2.min.js"></script>



    
    <!-- <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/jquery-datepicker-es.js"></script> -->
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/ajax_estados_municipios.js"></script> <!-- Incluye  sugerencia de colonias.-->

    
    <script type="text/javascript"> 
   
	jQuery("#id_Colonia").autocomplete({
	source: "/api/get_colonias/",
	minLength: 2,
	});

    jQuery(document).ready( function() {
    var now = new Date();
    var month = (now.getMonth())+01;               
    var day = now.getDate();
    var year = now.getFullYear()
    if(month < 10) 
        month = "0" + month;
    if(day < 10) 
        day = "0" + day;
    var today = day + '/' + month + '/' + now.getFullYear() ;

    //jQuery('#id_Mes>option:eq(' + month + ')').prop('selected', true);
    jQuery("#id_Anio").val(year);
    });



    jQuery(function() {




      jQuery('#id_Solicitud').datepicker({ autoSize: true });
      jQuery('#id_Inicial').datepicker({ autoSize: true });
      jQuery('#id_Visita').datepicker({ autoSize: true });
      jQuery('#id_Salida').datepicker({ autoSize: true });
      jQuery('#id_Final').datepicker({ autoSize: true });


    jQuery(":input").blur(function() {
    
    if(this.id != 'id_Observaciones') {
      this.value = this.value.toUpperCase();
      }
    });
      
    });
    
    </script>

<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('#spinner').hide();
        jQuery('#submit-id-submit').click(function () {
            foliok = jQuery('#id_FolioK').val();
            ref = jQuery('#id_Referencia').val();
            calle = encodeURIComponent(jQuery('#id_Calle').val());
            col = encodeURIComponent(jQuery('#id_Colonia').val());
            factura = encodeURIComponent(jQuery('#id_Factura').val());
            edo = jQuery('#id_Estado').val();
            mun = jQuery('#id_Municipio').val();
            cli = jQuery('#id_Cliente').val();
            dep = jQuery('#id_Depto').val();
            imp = jQuery('#id_Importe').val();
            var allVals = [];
                     jQuery('#id_estatus :checked').each(function() {
                       allVals.push(jQuery(this).val());
                     });
            val = encodeURIComponent(jQuery('#id_Valor').val());
            tipo = jQuery('#id_Tipo').val();
            mes = jQuery('#id_Mes').val();
            anio = jQuery('#id_Anio').val();
            
            //jQuery('#results').html('&nbsp;').load('/SIAV/consulta_master/?q1=' + q1);
            jQuery('#results').html('&nbsp;').load('/SIAV/consulta_master/?foliok='+foliok+"&ref="+ref+"&calle="+calle+"&col="+col+"&edo="+edo+"&mun="+mun+"&factura="+factura+"&cli="+cli+"&dep="+dep+"&imp="+imp+"&val="+val+"&tipo="+tipo+"&mes="+mes+"&anio="+anio+"&est="+allVals);
        });
    });
        
    jQuery(document).ajaxStart(function () {
        jQuery('#spinner').show();
    }).ajaxStop(function () {
        jQuery('#spinner').hide();
    });

</script>
    
 <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/mapas.js"></script>
    
      
{%endblock%}

