{% extends "neon/index.html" %}

{% load listutil %}

{% load thumbnail %}

{% load crispy_forms_tags %}

{% load currency %}

{% block visita %}{% if caller = '1' %}active{% else %}{{ block.super }}{%endif%}{%endblock%}
{% block captura %}{% if caller = '2' %}active{% else %}{{ block.super }}{%endif%}{%endblock%}
{% block salida %}{% if caller = '3' %}active{% else %}{{ block.super }}{%endif%}{%endblock%}

{% block content %}
 {% if form.errors %}
 {% for e in form.errors %}
 <div class="alert alert-danger"><strong> {{e}}</strong></div>
 {%endfor%}
 {%endif%}
<div class="row">
  <div class="col-md-12">
    <h1>
      {% if caller = '0' %}
      Servicios en Proceso   
    {% elif caller = '1' %}
      Visita
    {% elif caller = '2' %}
      Captura
    {% elif caller = '3' %}
      Salida
    {% elif caller = '5' %}
      Consulta Sencilla
    {% endif %}
    </h1>

  </div>
</div>
{% if caller != '5' %}
<div class="row">
  <div class="col-md-10">{% include "widgets/widget_imagenes.html" %}</div>
  {% if caller = '1' %}
  <div class="col-md-2">
        <a style="float:right" href="/SIAV/show_visita_pdf/{{avaluo.avaluo_id}}/" >
    <input class="btn btn-info button white" type="button" id="slick-toggle" value="Reporte de Visita" />
  </a>
  </div>
  {%endif%}
</div>
<div class="row">
  <div class="col-md-4">
    {% for item in archivos %}
    <a href="/{{item.file}}" target="_blank" >{{item.file}}</a>
    {% endfor %}
  </div>
</div>
{% endif%}
<div class="row">
  {% if caller != '5' %}
  <div class="col-md-8">
    <div class="panel panel-primary" data-collapsed="0">
      <div class="panel-heading">
        <div class="panel-title">Forma</div>
        <div class="panel-options">
          <a href="#" data-rel="close"> <i class="entypo-cancel"></i>
          </a>
        </div>
        <div class="panel-options"></div>
      </div>
      <div class="panel-body">{% crispy form %}</div>
    </div>
  </div>
  {% endif %}
  <div class="col-md-4">
    <div class="panel panel-primary" data-collapsed="0">
      <div class="panel-heading">
        <div class="panel-title">Información</div>
        <div class="panel-options">
          <a href="#" data-rel="close"> <i class="entypo-cancel"></i>
          </a>
        </div>
      </div>
      <table class="table" id="datos_texto">
        <tbody>
          <tr>
            <td>Folio</td>
            <td> <b>{%if avaluo.Folio %}{{avaluo.Folio}} {%else%} {{ avaluo.Folio}}{%endif%}</b> 
            </td>
          </tr>
          <tr>
            <td>Referencia</td>
            <td> <b>{{ avaluo.Referencia}}</b>
            </td>
          </tr>
          <td>Tipo de Servicio:</td>
          <td>
            <b>{{ avaluo.Servicio }}</b>
          </td>
          <tr>
            <td>Cliente :</td>
            <td>
              <b>{{ avaluo.Cliente }}</b>
            </td>
          </tr>
          <tr>
            <td>Departamento</td>
            <td>
              <b>{{ avaluo.Depto}}</b>
            </td>
          </tr>
          <tr>
            <td>Fecha Solicitud</td>
            <td>
              <b>{{ avaluo.Solicitud }}</b>
            </td>
          </tr>
          <tr>
            <td>Colonia</td>
            <td>
              <b>{{ avaluo.Colonia }}</b>
            </td>
          </tr>
          <tr>
            <td>Municipio</td>
            <td>
              <b>{{ avaluo.Municipio }}</b>
            </td>
          </tr>
          <tr>
            <td>Estado</td>
            <td>
              <b>{{ avaluo.Estado}}</b>
            </td>
          </tr>
          {%if caller = '5'%}
          <tr>
            <td>Pagado</td>
            <td>
              <b>{{ avaluo.Pagado}}</b>
            </td>
          </tr>
          <tr>
            <td>Factura</td>
            <td>
              <b>{{ avaluo.Factura}}</b>
            </td>
          </tr>
          <tr>
            <td>Valor</td>
            <td>
              <b>{{ avaluo.Valor}}</b>
            </td>
          </tr>
          <tr>
            <td>Mts. Terreno</td>
            <td>
              <b>{{ avaluo.Mterreno}}</b>
            </td>
          </tr>
          <tr>
            <td>Mts. Construccion</td>
            <td>
              <b>{{ avaluo.Mconstruccion}}</b>
            </td>
          </tr>
          <tr>
            <td>Observaciones</td>
            <td>
              <b>{{ avaluo.Observaciones}}</b>
            </td>
          </tr>
          {%endif%}
        </tbody>
      </table>
    </div>
    {% if caller != '3' %}
    <div class="panel panel-primary" data-collapsed="0">
      <div class="panel-heading">
        <div class="panel-title">Localización</div>
        <div class="panel-options">
          <a href="#" data-rel="close">
            <i class="entypo-cancel"></i>
          </a>
        </div>
      </div>
      <div class="panel body no-padding">
        <div id="map_canvas" style="width: 100%; height: 330px;"  style="float:right;"></div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Imported styles on this page -->
<link rel="stylesheet" href="{{ STATIC_URL }}CSS/smoothness/jquery-ui-1.8.24.custom.css">
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/jquery-datepicker-es.js"></script>
<script src="{{ STATIC_URL }}/assets/js/joinable.js"></script>
<script src="{{ STATIC_URL }}/assets/js/select2/select2.min.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/ajax_estados_municipios.js"></script>
{% include "widgets/widget_mapas.js" %}
{% include "widgets/widget_imagenes.js" %}
<script type="text/javascript"> 
jQuery(function($) {

    $('#id_Valor_Mterreno, #id_Factor_Terreno').keyup(function(){
        $('#id_Valor_Terreno_Concluido').val($('#id_Valor_Mterreno').val() * $('#id_Factor_Terreno').val());
        $('#id_Valor_Terreno_Concluido').autoNumeric('init', {aSign: '$'}); 

    });    

    $('#id_Valor_Mconstruccion, #id_Factor_Construccion').keyup(function(){
        $('#id_Valor_Construccion_Concluido').val($('#id_Valor_Mconstruccion').val() * $('#id_Factor_Construccion').val());
        $('#id_Valor_Construccion_Concluido').autoNumeric('init', {aSign: '$'}); 
    });



//   $('#id_Contacto').tooltipster({
//   content: 'Escribe el correo del contacto a notificar.',
//   contentAsHTML: true,
//   interactive: true,
//   position: 'right',
// });

 $('#id_NumInt').attr('disabled', 'disabled');
 $('input').blur(function () {
  $('#id_Valor_Construccion_Concluido').autoNumeric('init', {aSign: '$'}); 
  $('#id_Valor_Terreno_Concluido').autoNumeric('init', {aSign: '$'}); 

   if ($('#id_NumExt').val()) {
     $('#id_NumInt').removeAttr('disabled');
   } else {
     $('#id_NumInt').attr('disabled', 'disabled');
   }
 });
 
});

</script>
{% endblock %}