<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Neon Admin Panel" />
	<meta name="author" content="" />

	<title>SIAV</title>

	<link rel="stylesheet" href="{{ STATIC_URL }}/assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}/assets/css/font-icons/entypo/css/entypo.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
	<link rel="stylesheet" href="{{ STATIC_URL }}/assets/css/bootstrap.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}/assets/css/neon-core.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}/assets/css/neon-theme.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}/assets/css/neon-forms.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}/assets/css/custom.css">
	<script src="{{ STATIC_URL }}/assets/js/jquery-1.11.0.min.js"></script>
	<style>@import "{{ STATIC_URL }}CSS/sweet-alert.css";</style>
	<script>$.noConflict();</script>

	<!--[if lt IE 9]><script src="{{ STATIC_URL }}/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->


</head>
<body class="page-body  page-fade" data-url="http://neon.dev">

<div class="page-container sidebar-collapsed"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
	
	<div class="sidebar-menu">

		<div class="sidebar-menu-inner">
			
			<header class="logo-env">

				<!-- logo -->
				<div class="logo">
					<a href="/SIAV/">
						<img src="{{ STATIC_URL }}/CSS/images/SIAV_logo.png" width="120" alt="" />
					</a>
				</div>

				<!-- logo collapse icon -->
				<div class="sidebar-collapse">
					<a href="#" class="sidebar-collapse-icon"><!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
						<i class="entypo-menu"></i>
					</a>
				</div>

								
				<!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
				<div class="sidebar-mobile-menu visible-xs">
					<a href="#" class="with-animation"><!-- add class "with-animation" to support animation -->
						<i class="entypo-menu"></i>
					</a>
				</div>

			</header>
			
									
			<ul id="main-menu" class="main-menu">
				<!-- add class "multiple-expanded" to allow multiple submenus to open -->
				<!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->

				<li>
					<a href="/SIAV/alta_avaluo">
						<i class="glyphicon glyphicon-chevron-down"></i>
						<span class="title">Alta</span>
					</a>
				</li>
				<li>
					<a href="/SIAV/visita">
						<i class="glyphicon glyphicon-camera"></i>
						<span class="title">Visita</span>
						<span class="badge badge-secondary">{{por_visitar}}</span>
					</a>
				</li>
				<li>
					<a href="/SIAV/captura">
						<i class="glyphicon glyphicon-home"></i>
						<span class="title">Captura</span>
						<span class="badge badge-secondary">{{por_capturar}}</span>
					</a>
				</li>
				<li>
					<a href="/SIAV/salida">
						<i class="entypo-check"></i>
						<span class="title">Salida</span>
						<span class="badge badge-secondary">{{por_salida}}</span>
					</a>
				</li>
				<li>
					<a href="/SIAV/consulta_master">
						<i class="entypo-search"></i>
						<span class="title">Consulta</span>
					</a>
				</li>
				<li>
					<a href="/SIAV/calendario">
						<i class="entypo-calendar"></i>
						<span class="title">Calendario</span>
					</a>
				</li>
				{% if user.is_staff %}
				<li>
					<a href="/SIAV/facturar">
						<i class="glyphicon glyphicon-list-alt"></i>
						<span class="title">Facturar</span>
					</a>
				</li>
				<li>
					<a href="/SIAV/liquidar">
						<i class="glyphicon glyphicon-usd"></i>
						<span class="title">Liquidar</span>
					</a>
				</li>
				<li>
					<a href="/SIAV/estadistico/{%now "Y"%}/{%now "m"%}">
						<i class="entypo-chart-bar"></i>
						<span class="title">Estadístico</span>
					</a>
				</li>
				{% endif %}
		</ul>
			
		</div>

	</div>

	<div class="main-content">
				
		<div class="row">
		
			<!-- Profile Info and Notifications -->
			<div class="col-md-6 col-sm-8 clearfix">
		
				<ul class="user-info pull-left pull-none-xsm">
		
					<!-- Profile Info -->
					<li class="profile-info dropdown"><!-- add class "pull-right" if you want to place this from right -->
		
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<img src="{{ STATIC_URL }}/assets/images/thumb-1@2x.png" alt="" class="img-circle" width="44" />
							{{user.first_name}} {{user.last_name}}
						</a>
		
						<ul class="dropdown-menu">
		
							<!-- Reverse Caret -->
							<li class="caret"></li>
		
							<!-- Profile sub-links -->
							<li>
								<a href="extra-timeline.html">
									<i class="entypo-user"></i>
									Edit Profile
								</a>
							</li>
		

		
							<li>
								<a href="extra-calendar.html">
									<i class="entypo-calendar"></i>
									Calendar
								</a>
							</li>

						</ul>
					</li>
		
				</ul>
				
				<ul class="user-info pull-left pull-right-xs pull-none-xsm">
		
					<!-- Raw Notifications -->
					<li class="notifications dropdown">
		
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
							<i id="notif_link" class="entypo-attention"></i>
							<span class="badge badge-info">{{conteo_eventos_usuario}}</span>
						</a>
					<ul id="notif_dd" class="dropdown-menu">
					</ul>
					</li>
		

		
				</ul>
		
			</div>
		
		
			<!-- Raw Links -->
			<div class="col-md-6 col-sm-4 clearfix hidden-xs">
		
				<ul class="list-inline links-list pull-right">
		

		
					<li class="sep"></li>
		
					
					<li>
						<a href="#" data-toggle="chat" data-collapse-sidebar="1">
							<i class="entypo-chat"></i>
							Chat
		
							<span class="badge badge-success chat-notifications-badge is-hidden">0</span>
						</a>
					</li>
		
					<li class="sep"></li>
		
					<li>
						<a href="/SIAV/logout">
							Log Out <i class="entypo-logout right"></i>
						</a>
					</li>
				</ul>
		
			</div>
		
		</div>
		
		<hr />
		
{% block content %}
{% endblock %}
		
		<!-- Footer -->
		<footer class="main">
			
			&copy; 2015 <strong>SIAV 3.0</strong> by <a href="http://alluxi.mx" target="_blank">Alluxi</a>
		
		</footer>
	</div>

		
	<div id="chat" class="fixed" data-current-user="{{user.first_name}} {{user.last_name}}" data-order-by-status="1" data-max-chat-history="25">
	
		<div class="chat-inner">
	
	
			<h2 class="chat-header">
				<a href="#" class="chat-close"><i class="entypo-cancel"></i></a>
	
				<i class="entypo-users"></i>
				Chat
				<span class="badge badge-success is-hidden">0</span>
			</h2>
	
	
			<div class="chat-group" id="group-1">
				<strong>Favorites</strong>
	
				{% for u in users %}
				<a href="#" id="sample-user-123" data-conversation-history="#sample_history"><span class="user-status is-online"></span> <em>{{u.first_name}}</em></a>
				{% endfor %}
			</div>
	
	

	
		</div>
	
		<!-- conversation template -->
		<div class="chat-conversation">
	
			<div class="conversation-header">
				<a href="#" class="conversation-close"><i class="entypo-cancel"></i></a>
	
				<span class="user-status"></span>
				<span class="display-name"></span>
				<small></small>
			</div>
	
			<ul class="conversation-body">
			</ul>
	
			<div class="chat-textarea">
				<textarea class="form-control autogrow" placeholder="Type your message"></textarea>
			</div>
	
		</div>
	
	</div>
	
	
	<!-- Chat Histories -->
	<ul class="chat-history" id="sample_history">
		<li>
			<span class="user">Art Ramadani</span>
			<p>Are you here?</p>
			<span class="time">09:00</span>
		</li>
	
		<li class="opponent">
			<span class="user">Catherine J. Watkins</span>
			<p>This message is pre-queued.</p>
			<span class="time">09:25</span>
		</li>
	
		<li class="opponent">
			<span class="user">Catherine J. Watkins</span>
			<p>Whohoo!</p>
			<span class="time">09:26</span>
		</li>
	
		<li class="opponent unread">
			<span class="user">Catherine J. Watkins</span>
			<p>Do you like it?</p>
			<span class="time">09:27</span>
		</li>
	</ul>
	
	
	
	
	<!-- Chat Histories -->
	<ul class="chat-history" id="sample_history_2">
		<li class="opponent unread">
			<span class="user">Daniel A. Pena</span>
			<p>I am going out.</p>
			<span class="time">08:21</span>
		</li>
	
		<li class="opponent unread">
			<span class="user">Daniel A. Pena</span>
			<p>Call me when you see this message.</p>
			<span class="time">08:27</span>
		</li>
	</ul>

	
</div>

	<!-- Imported styles on this page -->
	<!-- <link rel="stylesheet" href="{{ STATIC_URL }}/assets/js/jvectormap/jquery-jvectormap-1.2.2.css"> -->
	<link rel="stylesheet" href="{{ STATIC_URL }}/assets/js/rickshaw/rickshaw.min.css">

	<!-- Bottom scripts (common) -->
	<script src="{{ STATIC_URL }}/assets/js/gsap/main-gsap.js"></script>
	<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/jquery-ui-1.8.24.custom.min.js"></script>
	<script src="{{ STATIC_URL }}/assets/js/bootstrap.js"></script>
	<!--  <script src="{{ STATIC_URL }}/assets/js/joinable.js"></script> -->
	<script src="{{ STATIC_URL }}/assets/js/resizeable.js"></script> 
	<script src="{{ STATIC_URL }}/assets/js/neon-api.js"></script>
	<!--  <script src="{{ STATIC_URL }}/assets/js/jvectormap/jquery-jvectormap-1.2.2.min.js"></script> -->


	<!-- Imported scripts on this page 
	<script src="{{ STATIC_URL }}/assets/js/jvectormap/jquery-jvectormap-europe-merc-en.js"></script>
	<script src="{{ STATIC_URL }}/assets/js/jquery.sparkline.min.js"></script>
	<script src="{{ STATIC_URL }}/assets/js/rickshaw/vendor/d3.v3.js"></script>
	<script src="{{ STATIC_URL }}/assets/js/rickshaw/rickshaw.min.js"></script>
	<script src="{{ STATIC_URL }}/assets/js/raphael-min.js"></script>
	<script src="{{ STATIC_URL }}/assets/js/morris.min.js"></script>-->
	<script src="{{ STATIC_URL }}/assets/js/toastr.js"></script>
	<script src="{{ STATIC_URL }}/assets/js/neon-chat.js"></script>
	<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/sweet-alert.min.js"></script>
	<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/autoNumeric.js"></script>
	<script>

    jQuery( document ).on( 'focus', ':input', function(){
        jQuery( this ).attr( 'autocomplete', 'off' );
    });


	    jQuery('#notif_link').click(function() {
        jQuery('#notif_dd').html('&nbsp;').load('/get_notificaciones');
    });
	    </script>
<script type="text/javascript">
jQuery(document).ready(function() {

    jQuery('#id_Solicitud').datepicker({ autoSize: true });
    jQuery('#id_Visita').datepicker({ autoSize: true });
    // Deprecated since Jquery 1.7
    // $(':input[type="text"]').live('focus', function() {
    //     $(this).attr('autocomplete', 'off');
    // });


    jQuery('#submit-id-submit').click(function() {
        jQuery("input[type=text]").each(function() {
            this.value = this.value.toUpperCase();

            jQuery("input[type=text]").each(function() {
                var self = jQuery(this);
                try {
                    var v = self.autoNumeric('get');
                    self.autoNumeric('destroy');
                    self.val(v);
                    console.log(self.val(v));
                } catch (err) {
                    //console.log("Not an autonumeric field: " + self.attr("name"));
                }
            });


        });


        jQuery("#id_Valor").autoNumeric('destroy');

    });

    jQuery('input[type=submit]').click(function() {
        jQuery("input[type=text]").each(function() {
            this.value = this.value.toUpperCase();

            jQuery("input[type=text]").each(function() {
                var self = jQuery(this);
                try {
                    var v = self.autoNumeric('get');
                    self.autoNumeric('destroy');
                    self.val(v);
                    console.log(self.val(v));
                } catch (err) {
                    console.log("Not an autonumeric field: " + self.attr("name"));
                }
            });


        });


        jQuery("#id_Valor").autoNumeric('destroy');

    });

    jQuery('input[type=submit]').click(function() {
        jQuery("input[type=text]").each(function() {
            this.value = this.value.toUpperCase();

            jQuery("input[type=text]").each(function() {
                var self = jQuery(this);
                try {
                    var v = self.autoNumeric('get');
                    self.autoNumeric('destroy');
                    self.val(v);
                    console.log(self.val(v));
                } catch (err) {
                    console.log("Not an autonumeric field: " + self.attr("name"));
                }
            });


        });


        jQuery("#id_Valor").autoNumeric('destroy');

    });


    jQuery('#id_Valor').autoNumeric('init', {
        aSign: '$'
    });
    jQuery('#id_Gastos').autoNumeric('init', {
        aSign: '$'
    });
    jQuery('#id_Importe').autoNumeric('init', {
        aSign: '$'
    });
});

function printDiv(divName) {
    var divName = document.getElementById(divName);
    var printContents = divName.innerHTML;
    var originalContents = document.body.innerHTML;
    document.body.innerHTML = printContents;
    window.print();
    document.body.innerHTML = originalContents;
}
</script>


	{% block scripts %} {% endblock %}

	<!-- JavaScripts initializations and stuff -->
	<script src="{{ STATIC_URL }}/assets/js/neon-custom.js"></script>


	<!-- Demo Settings
	<script src="{{ STATIC_URL }}/assets/js/neon-demo.js"></script>--> 

</body>
</html>