{% extends "neon/index.html" %}
{% load dayssince %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load crispy_forms_tags %}
{% block facturar %}active{% endblock %}

{% block content %}
{% load currency %}



    <div class="panel panel-primary" data-collapsed="0">

      <div class="panel-heading">
        <div class="panel-title">Facturación por cliente</div>

        <div class="panel-options"></div>
      </div>

      <div class="panel-body">

<table class="table table-hover">
  <th>Cliente</th>
  <th>Importe</th>
  {% for cliente in suma_de_monto %}
  <tr>
    <td>{{cliente.Cliente__Cliente}}</td>
    <td>{{cliente.total|currency}}</td>
  </tr>
  {% endfor %}
  <tr>
    <td><b>Total:</td></b>
    <td><b>{{total_general|currency}}</b></td>
  </tr>
</table>

    </div>

  </div>

  
	<h1>
		Servicios por Facturar
</h1>
  <a style="float:right" id="masiva_button"  title="captura" class="btn btn-primary mass_button" role="button">
    <span class="glyphicon glyphicon-ok"></span>
      Facturar
  </a>
<h2 style="text-align:left"><span class="label label-danger" id='rowcount'></span> Servicios</h2>
<div style="float:right">
  <input style="display:none;text-align:right" type="submit" value="Set Quick Find filter and refresh table" onclick="jQuery('#quickfind').val('12'); jQuery('#avaluos_table').tableFilterApplyFilterValues();">
  Excluir Paquete Infonavit: <input type='checkbox' id='onlyno' />
</div>
<br />
<table id='avaluos_table' class="table table-striped table-hover col-md-20">
  <thead>
    <tr class='even'>
      <th></th>
      <th id="folio_type" filter-type="ddl" style="width:40px">Folio K</th>
      <th style="width:150px" filter='true' >Referencia</th>
      <th filter-type='ddl'>Cliente</th>
      <th filter-type='ddl'>Depto</th>
      <th filter="false">Calle</th>
      <th filter='false'>Ext.</th>
      <th filter='false'>Int.</th>
      <th filter='false'>Municipio</th>
      <th  filter='false'>Entrega</th>
      <th filter='false'>Importe</th>
      <th filter='false' class="tabla_opciones">Opciones</th>
    </tr>
  </thead>
  <tbody>
  <form action="/SIAV/facturar/" method="post">
    {{example_formset.management_form }}
    {% for a in avaluos %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td><input class="form-checkbox" type="checkbox" value="{{ a.avaluo_id }}" name="avaluo_facturado"></td>
     <td>{{a.FolioK}}</td>
     <td>{{a.Referencia}}</td>
     <td>{{a.Cliente}}</td>
	   <td>{{a.Depto}}</td>
     <td>{{a.Calle}}</td>
     <td style="width:3px;">{{a.NumExt}}</td>
     <td style="width:10px;">{{a.NumInt}}</td>
     <td> {{a.Municipio}}</td>
     <td> {{a.Salida|date:"d/m/y"}}</td>
     <td><a href="#" class="importe" data-pk="{{a.avaluo_id}}" data-value="{{a.Importe}}">{{a.Importe|currency}}</a></td>		
     <td class="tabla_opciones"> <a href="/SIAV/guarda_master/{{a.avaluo_id}}">Editar</a></td>
   </tr>
   {% endfor %} 
</tbody>
</table>
<div class="modal fade" id="factura_masiva">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-body">

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h2 style="text-align:center">Factura</h2>
    <div class="modal-body">
      <span style="display: block">
        {% if not b.is_valid %}
        <div class='hide'>invalid_form</div>
        {% endif %}
          {% csrf_token %}
          {% bootstrap_form b layout='vertical'  %}
      </span>
    </div>
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn btn-success" id="submit-id-submit" style="float:right">Enviar</button>
  </form>
</div>
</div>
<!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>
<!-- /.modal -->


		{% endblock %}

		{% block scripts %}
		<!-- Imported styles on this page -->
		<link rel="stylesheet" href="{{ STATIC_URL }}/assets/js/datatables/responsive/css/datatables.responsive.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}/assets/js/select2/select2-bootstrap.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}/assets/js/select2/select2.css">

		<!-- Imported scripts on this page -->
		<script src="{{ STATIC_URL }}/assets/js/joinable.js"></script>
		<script src="{{ STATIC_URL }}/assets/js/select2/select2.min.js"></script>
		<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/picnet.table.filter.min.js"></script>
 		<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
		<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

<script type="text/javascript">
jQuery(document).ready(function () {
  {% include "snippets/avaluos_table.js" %}

jQuery('.importe').editable({
    type: 'text',
    url: '/monto_inline/',
    title: 'Nuevo importe',
    params: "{csrfmiddlewaretoken:'{{csrf_token}}'}"
});





jQuery('#masiva_button').click(function () {

    // Some code

    if(jQuery(".form-checkbox").is(':checked')) {

      var selected = [];
      jQuery('input:checked').each(function() {
          selected.push(jQuery(this).parent().next().next().next().next().html());
      });
      var bandera = true;
      for ( var i = 0; i < selected.length; i++ ) {
          // Logs "try 0", "try 1", ..., "try 4".
          if(selected[0] != selected[i]){
              bandera = false;
              console.log( selected[i] );
              //console.log( bandera );
          }
      }

      if(bandera == false){
        sweetAlert("Todos los servicios deben pertenecer al mismo cliente.","","error");
      }else{
        jQuery('#factura_masiva').modal('show');
        console.log( selected.toString());
      }
      
      var selected = [];

       // jQuery('#visita_masiva').modal('show');
    }else{
        sweetAlert("Selecciona al menos una casilla.","","warning");
    }

});


});

</script>
		{% endblock %}
</body>
	</html>