 {% extends "ericka/ericka_base.html" %}
 {% block content %}


<!-- Content strats -->

<div class="content">
   <div class="container">
      <div class="row">
         <div class="span12">
            
            <!-- Contact starts -->
            
            <div class="contact">
               <div class="row">
                  <div class="span12">
                  
                     <!-- Contact hero -->
                     <div class="hero">
                        <!-- Title. Don't forget the <span> tag -->
                        <h3><span>Contacto</span></h3>
                        <!-- para -->
<!--                         <p>Praesent at tellus porttitor nisl porttitor sagittis. Mauris in massa ligula, a tempor nulla. Ut tempus interdum mauris vel vehicula. Nulla ullamcorper tortor commodo in sagittis est accumsan.</p>
 -->                     </div>
                     <!-- Contact -->
                     
                     <div class="contact">
                        <div class="row">
                           <div class="span12">
                              <!-- Google maps -->
                              <div class="gmap">
                                 <!-- Google Maps. Replace the below iframe with your Google Maps embed code -->
                  <!--                <iframe height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.mx/maps?q=+Am%C3%A9rica+327+Sur,+Centro+Monterrey+N.L.,+M%C3%A9xico&amp;hl=es-419&amp;ie=UTF8&amp;ll=25.676061,-100.329788&amp;spn=0.005251,0.010568&amp;sll=25.648813,-100.303079&amp;sspn=0.336108,0.676346&amp;hnear=Am%C3%A9rica+327,+Centro,+Monterrey,+Nuevo+Le%C3%B3n&amp;t=m&amp;z=17&amp;iwloc=A"></iframe>
                              </div> -->

                              <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.mx/maps?f=q&amp;source=s_q&amp;hl=es-419&amp;geocode=&amp;q=Am%C3%A9rica+327+Sur,+Centro+Monterrey+N.L.,+M%C3%A9xico&amp;aq=&amp;sll=25.674756,-100.327277&amp;sspn=0.021002,0.042272&amp;ie=UTF8&amp;hq=&amp;hnear=Am%C3%A9rica+327,+Centro,+Monterrey,+Nuevo+Le%C3%B3n&amp;ll=25.675661,-100.329792&amp;spn=0.010501,0.021136&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com.mx/maps?f=q&amp;source=embed&amp;hl=es-419&amp;geocode=&amp;q=Am%C3%A9rica+327+Sur,+Centro+Monterrey+N.L.,+M%C3%A9xico&amp;aq=&amp;sll=25.674756,-100.327277&amp;sspn=0.021002,0.042272&amp;ie=UTF8&amp;hq=&amp;hnear=Am%C3%A9rica+327,+Centro,+Monterrey,+Nuevo+Le%C3%B3n&amp;ll=25.675661,-100.329792&amp;spn=0.010501,0.021136&amp;t=m&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">Ver mapa más grande</a></small>
                              
                           </div>
                        </div>
                        <div class="row">
                           <div class="span6">
                              <div class="cwell">
                                 <!-- Contact form -->
                                    <h5>Contáctanos</h5>
                                    <hr />
                                    <div class="form">
                                      <!-- Contact form (not working)-->
                                      <form class="form-horizontal">
                                          <!-- Name -->
                                          <div class="control-group">
                                            <label class="control-label" for="name">Nombre</label>
                                            <div class="controls">
                                              <input type="text" class="input-medium" id="name">
                                            </div>
                                          </div>
                                          <!-- Email -->
                                          <div class="control-group">
                                            <label class="control-label" for="email">Correo</label>
                                            <div class="controls">
                                              <input type="text" class="input-medium" id="email">
                                            </div>
                                          </div>
                                          <!-- Website -->
                                          <div class="control-group">
                                            <label class="control-label" for="website">Sitio</label>
                                            <div class="controls">
                                              <input type="text" class="input-medium" id="website">
                                            </div>
                                          </div>
                                          <!-- Comment -->
                                          <div class="control-group">
                                            <label class="control-label" for="comment">Comentarios</label>
                                            <div class="controls">
                                              <textarea class="input-madium" id="comment" rows="3"></textarea>
                                            </div>
                                          </div>
                                          <!-- Buttons -->
                                          <div class="form-actions">
                                             <!-- Buttons -->
                                            <button type="submit" class="btn">Enviar</button>
                                            <button type="reset" class="btn">Reset</button>
                                          </div>
                                      </form>
                                    </div>
                                 </div>
                           </div>
                           <div class="span6">
                                 <div class="cwell">
                                    <!-- Address section -->
                                       <h5>Dirección</h5>
                                       <hr />
                                       <div class="address">
                                           <address>
                                              <!-- Company name -->
                                              <strong>Valuadores del Norte S.C.</strong><br>
                                              <!-- Address -->
                                              América 327 Sur<br>
                                              Centro Monterrey N.L, México<br>
                                              <!-- Phone number -->
<!--                                               <abbr title="Phone">Teléfono:</abbr> (123) 456-7890.
 -->                                           </address>
                                            
                                           <address>
                                              <!-- Name -->
                                              <strong>Correo</strong><br>
                                              <!-- Email -->
                                              <a href="mailto:info@valnorte.net">info@valnorte.net</a>
                                           </address>
                                           
                                           <!-- Social media icons -->
                                           <strong>Redes Sociales:</strong>
                                           <div class="social">
                                                <a href="#"><i class="icon-facebook"></i></a>
                                                <a href="#"><i class="icon-twitter"></i></a>
                                                <a href="#"><i class="icon-linkedin"></i></a>
                                                <a href="#"><i class="icon-google-plus"></i></a>
                                                <a href="#"><i class="icon-pinterest"></i></a>
                                           </div>
                                       </div>
                                 </div>
                           </div>
                        </div>
                        
                     </div>
                     
                  </div>
               </div>
            </div>
            
            
            <!-- Service ends -->
                       
         </div>
      </div>
   </div>
</div>   

<!-- Content ends --> 
{% endblock %}