 {% extends "ericka/ericka_base.html" %}
 {% block content %}

<!-- Content strats -->

<div class="content">
   <div class="container">
      <div class="row">
         <div class="span12">
         
            <!-- Slider (Parallax Slider) -->
            
            <div id="da-slider" class="da-slider">
        <div class="da-slide">
          <h2>Profesionalismo</h2>
          <p>Valuadores capacitados para brindar servicio cumpliendo los mas altos estándares de calidad. Estamos avalados por la Federación Nacional de Valuación.</p>
<!--          <a href="#" class="da-link">Read more</a> -->
          <div class="da-img"><img src="{{ STATIC_URL }}/ericka_styles/img/parallax/1.png" alt="image01" /></div>
        </div>
        <div class="da-slide">
          <h2>Experiencia</h2>
          <p>Contamos con mas de 10 años de experiencia en la Valuación de Inmuebles.</p>
<!--          <a href="#" class="da-link">Read more</a>
 -->          <div class="da-img"><img src="{{ STATIC_URL }}/ericka_styles/img/parallax/2.png" alt="image01" /></div>
        </div>
        <div class="da-slide">
          <h2>Servicio</h2>
          <p>Nuestra filosofía busca dar el mejor servicio a nuestros clientes.</p>
<!--          <a href="#" class="da-link">Read more</a>
 -->          <div class="da-img"><img src="{{ STATIC_URL }}/ericka_styles/img/parallax/3.png" alt="image01" /></div>
        </div>
        <div class="da-slide">
          <h2>Calidad</h2>
          <p>El proceso de tu avalúo es supervisado paso a paso por profesionales, donde nos aseguramos de mantener al cliente informado paso a paso del estado en que se encuestra su servicio. Brindando asesoría confiable y eficiente a cada paso del proceso.</p>
<!--          <a href="#" class="da-link">Read more</a>
 -->          <div class="da-img"><img src="{{ STATIC_URL }}/ericka_styles/img/parallax/4.png" alt="image01" /></div>
        </div>
        <nav class="da-arrows">
          <span class="da-arrows-prev"></span>
          <span class="da-arrows-next"></span>
        </nav>
      </div>
            
            <!-- Slider ends -->

            <div class="bor"></div>

            <div class="main-content">
              <div class="row">
                <div class="span7">
                  <h2>Bienvenido</h2>
                  <p class="main-meta">Expertos en Valuación</p>
                  <p>En  Valuadores del Norte nos dedicamos a la realización de avalúos inmobiliarios. Contamos con un equipo de expertos listos para determinar el valor real de tus inmuebles.

                  <p>La experiencia que tenemos en <strong>grandes proyectos</strong> es nuestra mejor carta de presentación.</p>
                  <img src="{{ STATIC_URL }}/ericka_styles/img/photos/fundidora.jpg" style="height:175px;" alt="" />
                </div>
                <div class="span5">
                  <div class="main-box">
                    <h4>¿Porqué elegirnos?</h4>
                    <p>Nos esforzamos cada día en ofrecer a nuestros clientes un excelente servicio de valuación, por eso seguimos rigurosamente normas y procedimientos nacionales e internacionales de valuación, así como un código de prácticas interno y una constante renovación en nuestros sistemas tecnológicos.</p>
                    <ul>
                      <li>Experiencia en el mercado respaldan nuestra calidad y profesionalismo.</li>
                      <li>Habilidades Profesionales</li>
                      <li>Capacidad Tecnológica</li>
                      <li>Cumplimiento de las normas nacionales e internacionales de valuación.</li>
                    </ul>
<!--                     <div class="button">
                      <a href="#"><i class="icon-shopping-cart"></i> Buy Now</a> <a href="#"><i class="icon-magic"></i> Try Now</a>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>

            <!-- CTA starts -->
            
            <div class="bor"></div>
            
            <!-- CTA Ends -->
            
            <!-- Features list. Note down the class name before editing. -->
                     <div class="row">
 <!--                        <div class="span3">
                           <div class="afeature">
                              <div class="afmatter">
                                 <i class="icon-cloud"></i>
                                 <h4>Nulla ullamcorper</h4>
                                 <p>Praesent at tellus porttitor  sagittis. Mauris tempor nulla. Ut tempus interdum mauris vel vehicula. </p>
                              </div>
                           </div>
                        </div> -->
                        <div class="span3">
                           <div class="afeature">
                              <div class="afmatter">
                                 <i class="icon-home"></i>
                                 <h4>Avalúo</h4>
                                 <p>Estimación de valía monetaria o utilidad de un objeto para alguien para algún propósito. </p>
                              </div>
                           </div>                        
                        </div>
                        <div class="span3">
                           <div class="afeature">
                              <div class="afmatter">
                                 <i class="icon-home"></i>
                                 <h4>Avalúo</h4>
                                 <p>Estimación de valía monetaria o utilidad de un objeto para alguien para algún propósito. </p>
                              </div>
                           </div>                        
                        </div>
                        <div class="span3">
                           <div class="afeature">
                              <div class="afmatter">
                                 <i class="icon-user"></i>
                                 <h4>Mauris tempor</h4>
                                 <p>Praesent at tellus porttitor  sagittis. Mauris tempor nulla. Ut tempus interdum mauris vel vehicula. </p>
                              </div>
                           </div>                        
                        </div>                        
                     </div>
            
            <!-- Features ends -->

            <!-- Testimonials -->

            <div class="testimonial">
                <div class="container">
                     <div class="row">
                        <div class="span4">
                           <!-- Testimonial #1 -->
            <!--                <div class="test">
                              Praesent at tellus porttitor nisl porttitor sagittis. Mauris in massa ligula, a tempor nulla. Ut tempus interdum mauris vel vehicula. Nulla ullamcorper tortor commodo in sagittis est accumsan.
                           </div>
                           <div class="test-arrow"></div>
                           <div class="tauth"><i class="icon-user"></i> Ravi, <span class="color">Google</span></div> -->
                        </div>
                        
                        <div class="span4">
                           <!-- Testimonial #2 -->
     <!--                       <div class="test">
                              Praesent at tellus porttitor nisl porttitor sagittis. Mauris in massa ligula, a tempor nulla. Ut tempus interdum mauris vel vehicula. Nulla ullamcorper tortor commodo in sagittis est accumsan.
                           </div>
                           <div class="test-arrow"></div>
                           <div class="tauth"><i class="icon-user"></i> Ashok, <span class="color">Yahoo</span></div> -->
                        </div>

                        <div class="span4">
                           <!-- Testimonial #3 -->
               <!--             <div class="test">
                              Praesent at tellus porttitor nisl porttitor sagittis. Mauris in massa ligula, a tempor nulla. Ut tempus interdum mauris vel vehicula. Nulla ullamcorper tortor commodo in sagittis est accumsan.
                           </div>
                           <div class="test-arrow"></div>
                           <div class="tauth"><i class="icon-user"></i> Santy, <span class="color">Facebook</span></div> -->
                        </div>                        
                     </div>
                  </div>
                </div>

                <div class="bor"></div>
            
            <!-- Recent post starts. Note down the class name before editing. -->
            

            
            <!-- Recent post ends -->            
            
            
            <!-- Clients starts -->
               
            <div class="row">
               <div class="span12">
                  <div class="clients">
                     <img src="{{ STATIC_URL }}/ericka_styles/img/clients/fecoval.jpg" alt="" />
                     <img src="{{ STATIC_URL }}/ericka_styles/img/clients/fecoval2.jpg" alt="" />
                     <img src="{{ STATIC_URL }}/ericka_styles/img/clients/infonavit.jpg" alt="" />
                     <img src="{{ STATIC_URL }}/ericka_styles/img/clients/appraisal.jpg" alt="" />
                     <img src="{{ STATIC_URL }}/ericka_styles/img/clients/ampi.jpg" alt="" />
                     <img src="{{ STATIC_URL }}/ericka_styles/img/clients/metros.jpg" alt="" />
                  </div>
               </div>
            </div>
            
            <!-- Clients ends -->
            
         </div>
      </div>
   </div>

   {% endblock %}