<!DOCTYPE html>
<html lang="en-us" class="no-js">
	
<head>
    	<meta charset="utf-8">
      	<meta name="viewport" content="width=device-width, initial-scale=1.0">
      	<meta name="description" content="">
      	<meta name="author" content="">
      	<link rel="shortcut icon" href="{{ STATIC_URL }}/CSS/theme_images/favicon.ico">
      	<title>alluxi</title>
      	<!-- Core CSS -->
      	<link href="{{ STATIC_URL }}/CSS/theme_css/bootstrap.css" rel="stylesheet">
      	<link href="{{ STATIC_URL }}/CSS/theme_css/plugins.css" rel="stylesheet">
      	<!-- Custom styles for this template -->
      	<link href="{{ STATIC_URL }}/CSS/theme_css/style.css" rel="stylesheet">
      	<!-- Google Fonts -->
      	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
   	</head>
	<body class="home">
        <div id="wrapper">
            <!-- Page Loader -->
            <div id="pageloader">
                <div class="loader-item fa fa-circle-o-notch fa-spin fa-5x"></div>
            </div>
            <!-- Slider -->
            <section id="slides">
                <ul class="slides-container">
                    <!-- slide-item -->
                    <li class="slide-item image1" >
                        <div class="overlay-1"></div>
                        <div class="caption-wrapper" >
                            <div class="slide-caption" >
                                <!-- <h1>alluxi</h1> -->
                                    <img class="preserve" src="{{ STATIC_URL }}/CSS/theme_images/alluxi_white.png" alt="ALLUXI" />
                            </div>
                        </div>
                    </li>
                    <li class="slide-item image1" >
                        <div class="overlay-1"></div>
                        <div class="caption-wrapper" >
                            <div class="slide-caption" >
                                <!-- <h1>alluxi</h1> -->
                                    <img class="preserve" src="{{ STATIC_URL }}/CSS/theme_images/alluxi_white.png" alt="ALLUXI" />
                            </div>
                        </div>
                    </li>
                    <li class="slide-item image1" >
                        <div class="overlay-1"></div>
                        <div class="caption-wrapper" >
                            <div class="slide-caption" >
                                <!-- <h1>alluxi</h1> -->
                                    <img class="preserve" src="{{ STATIC_URL }}/CSS/theme_images/alluxi_white.png" alt="ALLUXI" />
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- slide nav -->
                <nav class="slides-navigation">
                    <a href="#" class="next">
                    <i class="fa fa-angle-right"></i>
                    </a>
                    <a href="#" class="prev">
                    <i class="fa fa-angle-left"></i>
                    </a>
                </nav>
            </section>
            <!-- end slider -->
            <!-- nav menu -->
            <div class="sticky-wrap">
                <div id="nav">
                    <div class="navbar navbar-inverse" role="navigation">
                        <div class="container">
                            <div class="row">
                                <!-- logo/title -->
                                <div class="navbar-header">
                                    <a class="navbar-brand" href="index-2.html">Alluxi</a>
                                </div>
                                <!-- mobile menu trigger -->
                                <div class="open nav navbar-right">
                                    <a id="toggle-menu" href="#mmenu-side-menu"><i class="fa fa-bars"></i></a>
                                </div>
                                <!-- menu links -->
                                 <div id="side-menu" class="remove">
                                    <ul class="nav home-nav navbar-nav navbar-right" id="top-nav">
                                        <li class="active">
                                            <a href="#slides">Inicio</a>
                                        </li>
                                        <li>
                                            <a href="#about">Quiénes Somos</a>
                                        </li>
                                        <li>
                                            <a href="#services">Servicios</a>
                                        </li>
                                        <li>
                                            <a href="#blog">Blog</a>
                                        </li>
                                         <li>
                                            <a href="#contact-section" class="external">Contacto</a>
                                         </li>
                                     </ul>
                                </div>
                                <!--end menu links -->
                            </div>
                            <!-- end row -->
                        </div>
                        <!-- end container -->
                    </div>
                    <!-- end navbar -->
                </div>
                <!-- end nav -->
            </div>
            <!-- end nav menu -->
            <!-- services section -->
            <section id="services" class="space slide">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 client-intro text-center">
                            <h1 class="section-head">Nuestros <strong>Servicios</strong></h1>
<!--                             <hr class="" style="width:10%;">
 -->                        </div>
                     </div>
                     <!-- end row -->
                     <div class="row animated" data-animation="fadeInDown">
                        <!-- col-4 -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <article>
                                <div class="services-box">
                                    <img src="{{ STATIC_URL }}/CSS/theme_images/network1.png" alt="">
                                    <h3>Marketing Social</h3>
                                    <p>Te ayudamos a incrementar y mejorar la presencia de tu negocio en línea mediante campañas a través de las redes sociales. </p>
                                    <!-- <p><a href="#" class="btn">View More</a></p> -->
                                </div>
                            </article>
                        </div>
                        <!-- col-4 -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <article>
                                <div class="services-box">
                                    <img src="{{ STATIC_URL }}/CSS/theme_images/desktop.png" alt="">
                                    <h3>Diseño y Desarrollo Web</h3>
                                    <p>Realizamos desarrollo web ágil y a la medida. Desarrollamos desde páginas web sencillas hasta sistemas transaccionales complejos.</p>
                                    <!-- <p><a href="#" class="btn">View More</a></p> -->
                                </div>
                            </article>
                        </div>
                        <!-- col-4 -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <article>
                                <div class="services-box">
                                    <img src="{{ STATIC_URL }}/CSS/theme_images/shopping66.png" alt="">
                                    <h3>Comercio Electrónico</h3>
                                    <p>¿Deseas establecer una tienda en línea? Nosotros te ayudamos a que sea una realidad para que puedas comercializar tus productos.</p>
                                    <!-- <p><a href="#" class="btn">View More</a></p> -->
                                </div>
                            </article>
                        </div>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </section>
            <!-- end services section -->
            <!-- about section -->
            <section id="about" class="space">
                <div class="container">
                    <div class="row">
                        <div class=" col-sm-8 col-sm-offset-2 client-intro text-center">
                            <h1 class="section-head">Sobre <strong>nosotros</strong></h1>
<!--                             <hr class="style" style="width:13%;">
 -->                            <p>Somos una empresa jóven fundada en Monterrey, Nuevo León y buscamos proveer soluciones eficientes basadas en tecnología. </p>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Tabs -->
                        <div class="col-sm-12 tabbed animated" data-animation="fadeIn">
                            <!-- tabs headers -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#philosophy" data-toggle="tab">Filosofía</a></li>
                                <li><a href="#history" data-toggle="tab">Historia</a></li>
                                <li><a href="#knowledge" data-toggle="tab">Conocimiento</a></li>
                                <li><a href="#experience" data-toggle="tab">Experiencia</a></li>
                            </ul>
                            <!-- end tabs headers -->
                            <!-- Tab panels -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="philosophy">
                                    <p>Somos perfeccionistas, buscamos siempre cumplir con los más altos estándares de calidad que tu negocio requiere.</p>
                                </div>
                                <div class="tab-pane" id="knowledge">
                                    <p>Utilizamos las tecnologías más avanzadas en desarrollo web y contamos con un equipo altamente capacitado que nos permite satisfacer las necesidades del mercado con desarrollos de calidad. </p>
                                </div>
                                <div class="tab-pane" id="experience">
                                    <p>Tenemos experiencia en diseño y desarrollo web. Alluxi ha desarrollado proyectos exitosos para empresas inmobiliarias en Monterrey N.L.</p>
                                </div>
                                <div class="tab-pane" id="history">
                                    <p>Alluxi nace el 2014 en Monterrey Nuevo León.</p>
                                </div>
                            </div>
                            <!-- end tab panels -->
                        </div>
                        <!-- end tabs -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </section>
            <!-- end about section -->

            <!-- end members section-->

    <section data-stellar-background-ratio="0.5" style="background-position: 0% -79.5px;">
                    <div class="container">
                    <div class="row">
                        <!-- col 8 -->
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="section-head">CÓMO <strong>TRABAJAMOS</strong></h1>
                            <hr class="style" style="width:18%;">
                        </div>
                        <!-- end col 8 offset -->
                    </div>
                    <!-- end row-->
                </div>
                <div id="work-section" >
                <div class="overlay-4 parallax space">
                    <div class="row">
                        <div class="col-md-3 margin20">
                            <div class="process-box">
                                <i class="fa fa-lightbulb-o"></i>
                                <h3>Lluvia de Ideas</h3>
                            </div><!--process box-->
                        </div><!--process col-->
                        <div class="col-md-3 margin20">
                            <div class="process-box">
                                <i class="fa fa-pencil"></i>
                                <h3>Análisis y Diseño</h3>
                            </div><!--process box-->
                        </div><!--process col-->
                        <div class="col-md-3 margin20">
                            <div class="process-box">
                                <i class="fa fa-code"></i>
                                <h3>Desarrollo</h3>
                            </div><!--process box-->
                        </div><!--process col-->
                        <div class="col-md-3 margin20">
                            <div class="process-box">
                                <i class="fa fa-plane"></i>
                                <h3>Lanzamiento</h3>
                            </div><!--process box-->
                        </div><!--process col-->
                    </div>
                </div>
            </div>
            </section>

            <!-- features section -->
            <section id="features" class="space slide">
                <div class="container">
                    <div class="row">
                        <div class=" col-sm-8 col-sm-offset-2 client-intro text-center">
                            <h1 class="section-head">Nos <strong>distingue</strong></h1>
<!--                             <hr class="style" style="width:10%;">
 -->                        </div>
                    </div>
                    <!-- end row --> 
                    <div class="row features-wrapper">
                        <!--col 6 -->
                        <div class="feature feature-left animated col-sm-6 col-xs-6 col-ts-12" data-animation="fadeInLeft">
                            <span class="circular"><i class="fa fa-rocket"></i></span>
                            <div class="features-box">
                                <h3>Desarrollo Ágil</h3>
                                <p>Desarrollamos de manera ágil prototipos funcionales para nuestros clientes hasta llegar al producto final.</p>
                            </div>
                        </div>
                        <!--col 6 -->
                        <div class="feature animated feature-right col-sm-6 col-xs-6 col-ts-12" data-animation="fadeInRight">
                            <span class="circular"><i class="fa fa-users"></i></span>
                            <div class="features-box">
                                <h3>Interacción con el Cliente</h3>
                                <p>Mantenemos siempre al cliente informado del avance de su desarrollo.</p>
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- end container -->
            </section>
            <!-- end features section -->
            <!-- quote section -->
            <section id="quote-section">
                <div class="parallax space">
                    <!-- overlay -->
                    <div class="overlay-3"></div>
                    <div class="container">
                        <div class="row">
                            <!-- quote slider -->
                            <div id="quote-slider" class="owl-carousel">
                                    <!-- item -->
                                    <div class="item">
                                        <p><!-- <span class="circular animated" data-animation="pulse"></span> --></p>
                                        <div class="quote">
                                            <p>"When You Catch a Glimpse of Your Potential, That’s When Passion is Born."</p>
                                        </div>
                                        <div class="attribution">
                                        </div>
                                    </div>               
                            </div>
                            <!-- quote slider -->
                        </div>
                        <!-- row-->
                    </div>
                    <!-- container -->
                </div>
                <!-- parallax -->
            </section> 
            <!-- end quote section -->

            <!-- blog section -->
            <section id="blog" class="space">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 client-intro text-center">
                            <h1 class="section-head">Nuestro <strong>Blog</strong></h1>
<!--                             <hr class="style" style="width:10%;">
 -->                            <p>Conoce más sobre nuestra empresa visitando nuestro blog.</p>
                         </div>
                    </div>
                    <div class="row">
                    <!-- blog slider -->
                    <div id="blog-slider" class="owl-carousel animated" data-animation="fadeInDown">
                            <!-- blog item -->
                            {% for b in lista_post%}
                            <article class="blog-item">
                                <!-- Post Img -->
                                <div class="post-media">
   <!--                                  <a href="http://blog.alluxi.mx/{{b.slug}}">
                                        <img src="{{ b.avatar }}" alt="" class="img-responsive">
                                    </a> -->
                                </div>
                                <!-- end Post Img -->
                                <!-- Post Content -->
                                <div class="item-content">
                                    <!-- Post Title -->
                                    <div class="post-title">
                                        <h2 class="title">
                                            <a href="http://blog.alluxi.mx/{{b.slug}}">{{b.titulo}}</a>
                                        </h2>
                                    </div>
                                    <!-- end Post Title -->
                                    <!-- Post Meta -->                            <hr class="" style="width:10%;">

                                    <div class="post-meta">
                                        <ul>
<!--                                             <li class="date"></li>
 -->                                            <li>
                                                <span>Por <a href="http://blog.alluxi.mx/author/gustavo-reyes/">{{b.autor}}</a></span>
                                            </li>
 <!--                                            <li>
                                                <span>in <a href="#">{{Tutorials}}</a></span>
                                            </li> -->
                                        </ul>
                                    </div>
                                    <!-- end Post Meta -->
                                    <!-- Post Entry -->
                                    <div class="post-entry">
                                        <p>{{b.contenido}}</p>
                                    </div>
                                    <!-- end Post Entry -->
                                    <a href="http://blog.alluxi.mx/{{b.slug}}" class="btn">Leer más</a>
                                </div>
                                <!-- end Post Content -->
                            </article>
                            {% endfor%}
                           <!-- end blog items -->
                      </div>
                      <!-- end blog slider -->
                    </div>
                    <!-- end row -->                    
                </div>
                <!-- end container -->
            </section>
            <!-- end blog section -->
            <!-- contact section -->
            <section id="contact-section" class="space">
                <div class="container">
                    <div class="row">
                        <!-- col 8 -->
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="section-head"> <strong>CONTACTO</strong></h1>
                            <hr class="style" style="width:18%;">
                            <p>Nos encantaría saber de ti. ¿Quieres trabajar con nosotros? </p>
                            <p>Compártenos un poco de información sobre tu proyecto y te contactaremos lo antes posible.</p>
                        </div>
                        <!-- end col 8 offset -->
                    </div>
                    <!-- end row-->
                </div>
                <!-- end container-->
                <div id="contact-info">
                    <div class="parallax space">
                        <div class="overlay-2"></div>
                        <div class="container">
                            <div class="row">
                                <!-- col 3 -->
                                <div id="SkypeButton_Call_gus_reyes01_1" class="col-sm-2 col-xs-2 text-center">
                                    <p><span class="circular"><i class="fa fa-skype fa-2x"></i></span></p>
                                    <h4>Skype</h4>
                                    <p>Alluxi_mx</p>                                  
                                </div>
                                <!-- col 3 -->
                                <div class="col-sm-3 col-xs-6 text-center">
                                    <p><span class="circular"><i class="fa fa-map-marker fa-2x"></i></span></p>
                                    <h4>Dirección</h4>
                                    <p>Miguel Nieto,442 Sur</p>
                                </div>
                                <!-- end col 3 -->
                                <!-- col 3 -->
                                <div class="col-sm-3 col-xs-6 text-center">
                                    <p><span class="circular"><i class="fa fa-mobile fa-2x"></i></span></p>
                                    <h4>Teléfono</h4>
                                    <p>+52-(811)-500-1600</p>
                                </div>
                                <!-- col 3 -->
                                <a href="mailto:hola@alluxi.mx?Subject=Hola!" target="_top">
                                <div class="col-sm-3 col-xs-6 text-center">
                                    <p><span class="circular"><i class="fa fa-inbox fa-2x"></i></span></p>
                                    <h4>Email</h4>
                                    <p>hola@alluxi.mx</p>
                                </div>
                                </a>
                                <!-- end col 3 -->
                            </div>
                            <!-- end row -->
                        </div>
                        <!-- end container -->
                    </div>
                    <!-- end parallax -->
                </div>
                <!--end contact-info-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 space">
                        <div id="message"></div>
                            <form method="POST" action="/contacto/" id="contactform">
                                
                                <!-- col 6 -->
                                <div class="col-md-6">
                                    <div class="form-group text-left animated" data-animation="fadeInDown">
                                        {{forma.Nombre}}
                                    </div>
                                    <div class="form-group text-left animated" data-animation="fadeInDown">
                                        {{forma.Correo}}
                                    </div>
                                    <div class="form-group text-left animated" data-animation="fadeInDown">
                                        {{forma.Telefono}}
                                    </div>
                                    <div class="form-group text-left animated" data-animation="fadeInDown">
                                        {{forma.Captcha}}
                                    </div>
                                </div>
                                <!--end col 6-->
                                <!-- col 6 -->
                                <div class="col-md-6">
                                    <div class="form-group text-left animated" data-animation="fadeInDown">
                                        {{forma.Mensaje}}
                                    </div>
                                </div>
                                <!-- end col 6-->
                                <!-- col 12 -->
                                <div class="actions col-md-12 text-center">
                                    <input type="submit" value="Enviar" name="submit" id="submit" class="btn" title="" />
                                </div>
                                <!-- end col 12 --> 
                                {% csrf_token %}        
                            </form>
                        </div>
                        <!-- end parallax -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </section>
            <!-- end contact section -->
        	<!-- footer -->
    		<footer id="footer" class="bg-dark">
        		<div class="container">
            		<div class="row">
                    	<!-- col-12 -->
               			<div class="col-sm-12 text-center space">
<!--                 			<a id="back-top" href="#top"><i class="fa fa-arrow-up fa-2x"></i></a>
 -->                			<h2>Alluxi</h2>
                			<p>Todos los derechos reservados. Copyright ©2015.</p>
                            <!-- social-icons -->
            				<div class="footer-social">
                   				<ul class="socials list-unstyled">
                                    <li>
                                        <a href="https://www.facebook.com/alluxi">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/alluximx">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                   				</ul>
            				</div>
                            <!-- end social-icons -->
                  		</div>
                        <!-- end col 12 -->
               		</div>
                    <!-- end row -->
            	</div>
            	<!-- end container -->
      		</footer>
        	<!-- end footer -->
      		<!-- CORE JAVASCRIPTS -->  
      		<script type="text/javascript" src="{{ STATIC_URL }}JS/theme_js/jquery.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}JS/theme_js/bootstrap.min.js"></script>
      		<script type="text/javascript" src="{{ STATIC_URL }}JS/theme_js/plugins.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}JS/theme_js/modernizr.min.js"></script>
      		<script type="text/javascript" src="{{ STATIC_URL }}JS/theme_js/main.js"></script>
            <script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
        </div>
	</body>
</html>