 {% extends "ericka/ericka_base.html" %}
 {% block content %}

<!-- Content strats -->

<div class="content">
   <div class="container">
      <div class="row">
         <div class="span12">
            
            <!-- Careers starts -->
            
            <div class="career">
               <div class="row">
                  <div class="span12">
                  
                     <!-- Careers Here -->
                     <div class="hero">
                        <!-- Title. Don't forget the <span> tag -->
                        <h3><span>Servicios que ofrecemos</span></h3>
                        <!-- para -->
                        <!-- <p>Praesent at tellus porttitor nisl porttitor sagittis. Mauris in massa ligula, a tempor nulla. Ut tempus interdum mauris vel vehicula. Nulla ullamcorper tortor commodo in sagittis est accumsan.</p> -->
                     </div>
                     
                        <div class="tabbable tabs-left">
                           <!-- Tabs -->
                          <ul class="nav nav-tabs">
                            <!-- Navigation tabs (Job titles ). Use unique value in anchor tags. -->
                            <li class="active"><a href="#tab1" data-toggle="tab">Avalúos Fiscales</a></li>
                            <li><a href="#tab2" data-toggle="tab">Avalúos Comerciales</a></li>
                            <li><a href="#tab3" data-toggle="tab">Avalúos de Negocios</a></li>
                            <li><a href="#tab4" data-toggle="tab">Proyectos de Inversión</a></li>
                            <li><a href="#tab5" data-toggle="tab">Estudio de Mercado</a></li>
                            <li><a href="#tab6" data-toggle="tab">Asesoría Inmobiliaria</a></li>
                            <li><a href="#tab7" data-toggle="tab">Plan de Negocios</a></li>
                            <li><a href="#tab8" data-toggle="tab">Marketing Inmobiliario</a></li>
                          </ul>
                          <div class="tab-content">
                          
                           <!-- In "id", use the value which you used in above anchor tags -->
                            <div class="tab-pane active" id="tab1">
                              <!-- Content -->
                              <h5>Avalúos Fiscales</h5>
                              <p>Dictamen técnico practicado por persona autorizada o registrada ante la autoridad fiscal, que permite determinar el valor de mercado de un bien inmueble. Sirve como base para determinar alguna de las contribuciones establecidas en el Código Financiero.
                              </p>
                              <ul>
                                 <li>Catastrales (Impuesto Predial)</li>
                                 <li>Impuesto Sobre Adquisición de Bienes Inmuebles (Escrituración)</li>
                                 <li>Fusión y Subdivisión de Predios</li>
                                 <li>Demolición</li>
                                 <li>Regularización o sanciones</li>
                                 <li>Regularización de uso de Suelo</li>
                                 <li>Dictámenes para el cumplimiento de obligaciones fiscales</li>
                              </ul>
                              <p>Los anteriores productos van dirigidos a: Cualquier persona que adquiera un inmueble (compra, herencia, adjudicación, etc.), Notarias, Promotores inmobiliarios, Constructoras, Contadores Públicos, Regularización de las boletas prediales etc.</p>
                            </div>
                            
                            
                            <div class="tab-pane" id="tab2">
                              <h5>Avalúos Comerciales</h5>
                              <p>Estimación sustentable del valor de una propiedad. Incluye una descripción de la propiedad en cuestión, la opinión del valuador acerca de las condiciones que se encuentra, su disponibilidad para un propósito dado y su valor expresado en dinero a precios del mercado libre.
                              </p>
                              <ul>
                                <li>Compra-Venta</li>
                                <li>Justipreciación de rentas</li>
                                <li>Proyectos de inversión</li>
                                <li>Seguros y Fianzas</li>
                                <li>Arrendamiento</li>
                                <li>Reexpresión de Estados financieros o contables</li>
                              </ul>
                            </div>
                            
                            
                            <div class="tab-pane" id="tab3">
                              <h5>Avalúos de Negocios</h5>
                              <p>Este estudio sirve para determinar el valor de un establecimiento comercial o industrial teniendo en cuenta tanto el inmueble que ocupa como la productividad del negocio que reside en el. Este avalúo sirve en tipologías de inmuebles especializados como: 
                              </p>
                              <ul>
                                <li>Hoteles</li>
                                <li>Hospitales</li>
                                <li>Restaurantes</li>
                                <li>Centros Comerciales</li>
                                <li>Escuelas</li>
                                <li>Espacios de entretenimiento</li>
                                <li>Otros</li>
                              </ul>
                            </div>


                            <div class="tab-pane" id="tab4">
                              <h5>Proyecto de Inversión Inmobiliaria</h5>
                              <p>Es un dictamen en el que se evalúa la viabilidad de proyectos inmobiliarios desde el enfoque legal, técnico, político y económico basados en estudios de sensibilidad de acuerdo al planteamiento de distintos escenarios según el comportamiento de cada proyecto.Los proyectos pueden ser del tipo:</p>
                              <ul>
                                <li>Habitacional</li>
                                <li>Comercial</li>
                                <li>Industrial</li>
                                <li>Sector Servicios (Hoteles, Hospitales, etc.)</li>
                                <li>Planes de Urbanización</li>
                              </ul>
                            </div>


                            <div class="tab-pane" id="tab5">
                              <h5>Estudio de Mercado</h5>
                              <p>Sirve para conocer la viabilidad comercial de un proyecto analizando la competencia, la demanda, al consumidor y fundamenta estrategias de comercialización.</p>
                              <ul>
                                <li>La disponibilidad de inmuebles que se pueden ofertar en una zona, o buscar la zona ideal para ofertar cierto producto inmobiliario.</li>
                                <li>Estimar la demanda que puede tener el producto inmobiliario.</li>
                                <li>Industrial</li>
                                <li>Estimar precios de venta y absorción de mercado.</li>
                              </ul>
                            </div>


                            <div class="tab-pane" id="tab6">
                              <h5>Asesoría Inmobiliaria</h5>
                              <p>Se otorga la asesoría necesaria en las áreas fiscal, legal, arquitectónica y comercial para llevar a cabo una operación de compra y de venta y/o renta de un inmueble.</p>
                              <b>Venta de inmuebles:</b>
                              <ul>
                                <li>Valor Comercial: determinado por medio un avalúo comercial certificado por un perito.</li>
                                <li>Plusvalía: nuestros arquitectos harán un análisis de la propiedad para sugerir mejoras u obras de mantenimiento que aumenten su valor.</li>
                                <li>Plan de Comercialización</li>
                                <li>Asesoría Legal y Fiscal: en contratos, pago de impuestos, trato con notarios y autoridades etc.</li>
                              </ul>
                              <br>
                              <b>Compra de Inmuebles:</b>
                                                            <ul>
                                <li>Crear Perfil del cliente para ayudar a definir sus necesidades y prioridades para encontrar el inmueble ideal.</li>
                                <li>Localización de ofertas: una vez definido el perfil del cliente se podrán encontrar un abanico de opciones que se adapten a tus necesidades. Se hará un análisis cuantitativo y cualitativo de las ofertas y se presentaran los pros y contras de cada una.</li>
                                <li>Industrial</li>
                                <li>Asesoría Legal y Fiscal: en contratos, pago de impuestos, trato con notarios y autoridades etc.</li>
                              </ul>
                            </div>


                            <div class="tab-pane" id="tab7">
                              <h5>Plan de Negocios</h5>
                              <p>Un estudio previo a una Inversión o un Negocio Inmobiliario. Detalla los alcances del proyecto, costos, tiempo de construcción y de recuperación de la inversión, así como  recursos necesarios para su consecución.  También puede abordar, según sea el caso, los aspectos técnicos, legales y sociales del proyecto.</p>
                              <ul>
                                <li>Introducción. Tipo de desarrollo.</li>
                                <li>Análisis de la Empresa. Misión, estrategia corporativa, antecedentes.</li>
                                <li>Análisis del Sitio. Área de influencia y análisis de terreno.</li>
                                <li>Contexto Urbano. Legislación urbana y entorno urbano.</li>
                                <li>Estudio de Mercado. Consumidor, canales de distribución, competidores, estrategia (productos, precio, distribución y comunicación)</li>
                                <li>Análisis FODA. Fortalezas, oportunidades, debilidades y amenazas.</li>
                                <li>Producto. Segmento y target group, justificación del producto y características.</li>
                                <li>Estrategia de comercialización.</li>
                                <li>Fijación de Precios.</li>
                                <li>Ocupación</li>
                                <li>Concepto Arquitectónico</li>
                                <li>Presupuesto</li>
                                <li>Aspectos Legales y Administrativos</li>
                                <li>Proyecciones Financieras. Estado de Resultados PL, TIR sobre capital invertido.</li>
                              </ul>
                            </div>


                            <div class="tab-pane" id="tab8">
                              <h5>Marketing Inmobiliario</h5>
                              <p>Ofrecemos un plan de promoción y publicidad para sus proyectos y desarrollos inmobiliarios que consiste en:</p>
                              <ul>
                                <li>Estrategia en relaciones públicas</li>
                                <li>Diseño grafico</li>
                                <li>Creación y administración de marca</li>
                                <li>Eventos especiales.</li>
                              </ul>
                            </div>
                            
                          </div>
                        </div>
                     
                  </div>
               </div>
            </div>
            
            <!-- 404 ends -->
            
            
         </div>
      </div>
   </div>

   {% endblock %}