 {% extends "ericka/ericka_base.html" %}
 {% block content %}

<!-- Content strats -->

<div class="content">
   <div class="container">
      <div class="row">
         <div class="span12">
            
            <!-- Careers starts -->
            
            <div class="career">
               <div class="row">
                  <div class="span12">
                  
                     <!-- Careers Here -->
                     <div class="hero">
                        <!-- Title. Don't forget the <span> tag -->
                        <h3><span>Servicios que ofrecemos</span></h3>
                        <!-- para -->
                        <!-- <p>Praesent at tellus porttitor nisl porttitor sagittis. Mauris in massa ligula, a tempor nulla. Ut tempus interdum mauris vel vehicula. Nulla ullamcorper tortor commodo in sagittis est accumsan.</p> -->
                     </div>
                     
                        <div class="tabbable tabs-left">
                           <!-- Tabs -->
                          <ul class="nav nav-tabs">
                            <!-- Navigation tabs (Job titles ). Use unique value in anchor tags. -->
                            <li class="active"><a href="#tab1" data-toggle="tab">Avalúos Fiscales</a></li>
                            <li><a href="#tab2" data-toggle="tab">Avalúos Comerciales</a></li>
                            <li><a href="#tab3" data-toggle="tab">Avalúos de Negocios</a></li>
                            <li><a href="#tab3" data-toggle="tab">Proyectos de Inversión</a></li>
                            <li><a href="#tab3" data-toggle="tab">Estudio de Mercado</a></li>
                            <li><a href="#tab3" data-toggle="tab">Asesoría Inmobiliaria</a></li>
                            <li><a href="#tab3" data-toggle="tab">Plan de Negocios</a></li>
                          </ul>
                          <div class="tab-content">
                          
                           <!-- In "id", use the value which you used in above anchor tags -->
                            <div class="tab-pane active" id="tab1">
                              <!-- Content -->
                              <h5>Avalúos Fiscales</h5>
                              <p>Dictamen técnico practicado por persona autorizada o registrada ante la autoridad fiscal, que permite determinar el valor de mercado de un bien inmueble. Sirve como base para determinar alguna de las contribuciones establecidas en el Código Financiero.
                              </p>
                              <ul>
                                 <li>Catastrales (Impuesto Predial)</li>
                                 <li>Impuesto Sobre Adquisición de Bienes Inmuebles (Escrituración)</li>
                                 <li>Fusión y Subdivisión de Predios</li>
                                 <li>Demolición</li>
                                 <li>Regularización o sanciones</li>
                                 <li>Regularización de uso de Suelo</li>
                                 <li>Dictámenes para el cumplimiento de obligaciones fiscales</li>
                              </ul>
                              <p>Los anteriores productos van dirigidos a: Cualquier persona que adquiera un inmueble (compra, herencia, adjudicación, etc.), Notarias, Promotores inmobiliarios, Constructoras, Contadores Públicos, Regularización de las boletas prediales etc.</p>
                            </div>
                            
                            
                            <div class="tab-pane" id="tab2">
                              <h5>Web Developer - 3 Nos</h5>
                              <p>Nulla facilisi. Sed justo dui, scelerisque ut consectetur vel, eleifend id erat. Morbi auctor adipiscing tempor. Phasellus condimentum rutrum aliquet. Quisque eu consectetur erat. Proin rutrum, erat eget posuere semper, <em>arcu mauris posuere tortor</em>, in commodo enim magna id massa. Suspendisse potenti. Aliquam erat volutpat. Maecenas quis tristique turpis. Nulla facilisi. Duis sed velit at <a href="#">magna sollicitudin cursus</a> ac ultrices magna. Aliquam consequat, purus vitae auctor ullamcorper, sem velit convallis quam, a pharetra justo nunc et mauris. Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                              <div class="button"><a href="#">Apply Online</a></div>
                            </div>
                            
                            
                            <div class="tab-pane" id="tab3">
                              <h5>SEO - 3 Nos</h5>
                              <p>Fusce imperdiet, risus eget viverra faucibus, diam mi vestibulum libero, ut vestibulum tellus magna nec enim. Nunc dapibus varius interdum. Phasellus at lorem ut lectus fermentum convallis. Sed diam nisi, pulvinar vitae molestie hendrerit, venenatis eget mauris. Integer porta erat ac eros porta ultrices. Proin porttitor eros a ante molestie gravida commodo dui adipiscing. <a href="#">Morbi dictum nibh gravida</a> mi pretium dapibus. Nullam in est urna. In vitae adipiscing enim. Curabitur rhoncus condimentum lorem, non convallis dolor faucibus eget. In ut nulla est. Sed a interdum mauris. Duis eget risus ac orci vulputate vestibulum sit amet id orci. Etiam ac ante at lorem ultrices elementum. Vestibulum quis elit odio, id hendrerit ipsum. Fusce consequat leo vitae velit interdum at laoreet justo ullamcorper.</p>
                              <div class="button"><a href="#">Apply Online</a></div>
                            </div>
                            
                          </div>
                        </div>
                     
                  </div>
               </div>
            </div>
            
            <!-- 404 ends -->
            
            
         </div>
      </div>
   </div>

   {% endblock %}