@media print{
    
    @page {size: landscape}
    header, footer {display:none;}
    span.pseudolink {display:none;}

    h1 {
    font-style:italic;
    font-size:large;
    }
    .filters {
    display:none;
    }

    .tabla_opciones {
    display:none;
    
    }

}

#print-button {
    height:50px;
    width:50px;
    border: 0px !important;
    outline: 0 !important;
    
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  .sidebar-nav {
    padding: 9px 0;
  }

  @media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
      float: none;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

body {
  #background: #a7cfdf; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNhN2NmZGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjM1MzhhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-radial-gradient(center, ellipse cover, #a7cfdf 0%, #23538a 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#a7cfdf), color-stop(100%,#23538a)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #a7cfdf 0%,#23538a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #a7cfdf 0%,#23538a 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #a7cfdf 0%,#23538a 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, #a7cfdf 0%,#23538a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}


h1 {
    margin-left:10px;
  #font: bold italic 2em "Times New Roman", "MS Serif", "New York", serif;
  margin: 0;
  padding: 0;
  color: #1C1C1C;
    text-align:center;
    font-size: 10px;
}

h2 {
      #font: bold 2em "Times New Roman", "MS Serif", "New York", serif;
      #font-size: 10px;
      #color: #1C1C1C;
      #padding:10px;

}


input[type=text],input[type=password],input[type=number]{
  width:200px;
}

#id_LatitudG,#id_LatitudM,#id_LatitudS,#id_LongitudG,#id_LongitudM,#id_LongitudS{
  width:100px;
}


.select{
  width:200px;
}

input#login {
  margin:0 auto;
  float:left;
}

table#datos_texto {
    margin-top:60px;
    margin-bottom:60px;
}

td {
    padding-right:7px;
    padding-left:7px;
}

textarea{
  width:700px;
  height: 120px;
}

#logo {
      position:relative;
      margin-bottom:0px;
  
}





.rel {
  margin: 50px 0 0 33px;
  padding: 25px;
  position: relative;
  z-index: inherit;
  zoom: 1; /* For IE6 */
}

#logo {
    width:50px;
    height:50px;

}



ul li.active a {
/* some css code */
}

.noty-manager-bubble
{
  position: absolute;
  top: -8px;
  background-color: #fb6b5b;
  color: #fff;
  padding: 2px 5px !important;
  font-size: 9px;
  line-height: 12px;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  cursor: pointer;
  height: 15px;
  font-weight: bold;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow:1px 1px 1px rgba(0,0,0,.1);
  opacity: 0;
}

#notification-list {
  width: 300px;
  max-height: 400px;
  overflow-y: scroll;
}

.dropdown-menu > .panel {
  border: none;
  margin: -5px 0;
}

.panel-heading {
  background-color: #f1f1f1;
  border-bottom: 1px solid #dedede;
}

.activity-item i {
  float: left;
  margin-top: 3px;
  font-size: 16px;
}

div.activity {
  margin-left: 28px;
}

div.activity-item {
  padding: 7px 12px;
}

div.activity-item {
  border-top: 1px solid #f5f5f5;
}

#notification-list div.activity-item a {
  font-weight: 600;
}

div.activity span {
  display: block;
  color: #999;
  font-size: 11px;
  line-height: 16px;
}

#notifications i.fa {
  font-size: 17px;
}

.noty_type_error * {
  font-weight: normal !important;
}

.noty_type_error a {
  font-weight: bold !important;
}

.noty_bar.noty_type_error a, .noty_bar.noty_type_error i {
  color: #fff
}

.noty_bar.noty_type_information a {
  color: #fff;
  font-weight: bold;
}

.noty_type_error div.activity span
{
  color: #fff
}

.noty_type_information div.activity span
{
  color: #fefefe
}

.no-notification {
  padding: 10px 5px;
  text-align: center;
}

#notif_dd {
  width: 300px;
}

