<html>
<body>
	    <div class="container">
	          <h1 align="center">  <img src="http://valnorte.net/static/CSS/images/logo.png" id="logo" />  VALUADORES DEL NORTE S.C.</h1>
	          <br>
	          <h2>Notificación de Visita</h2>
        </div>
        <br>

Le informamos que visitamos el servicio con referencia <b>{{a.Referencia}}</b> el día <b>{{a.Visita|date:"d/m/y" }}</b>.<br><br>

Atentamente,<br>
Valuadores del Norte <br>

<!-- <table>
<tr>
<td>FolioK: <b>{{a.FolioK}}</b></td>
</tr>
<tr>
<td>Referencia : <b></b></td>
</tr>
<tr>
<td>Cliente : <b>{{ avaluo.Cliente }}</b></td>
</tr>
<tr>
<td>Departamento : <b>{{ avaluo.Depto}}</b></td>
</tr>
<tr>
<td>Visita : <b>{{ avaluo.Depto}}</b></td>
</tr>
</table> -->
<hr>
**Este es un mensaje automatizado favor de no responder sobre el correo**<br>
Valuadores del Norte S.C, América 327 Sur, Centro Monterrey N.L., México.<br>
Teléfonos: (81) 1768 1044 / 81 8375 7687 / 8375 1923<br>
info@valnorte.net<br>
<a href="http://valnorte.net">http://valnorte.net</a><br>
</body>
</html>